/*ABOUT*/
.about__container {
    margin-bottom: 69px;
}

.about__header {
    margin-bottom: 32px;
    margin-left: -2px;
    font-size: 48px;
    font-weight: 400;
}

.about__text {
    max-width: 1085px;
}

@media (max-width: 768px) {
    .about__container {
        margin-bottom: max(9vw,40px);
    }
    .about__header {
        margin-bottom: max(4vw, 11px);
        font-size: max(6vw, 28px);
    }
    .about__text {
      font-size: max(2.07vw, 14px);
      line-height: max(4.2vw, 2em);
    }
}