/*ABOUT*/
.about__container {
    margin-bottom: 69px;
}

.about__header {
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 400;
}

.about__text {
    max-width: 1085px;
}
@media (max-width: 1024px) {
    .about__header {
        margin-left: -3px;
    }
}

@media (max-width: 768px) {
    .about__container {
        margin-bottom: max(9vw,40px);
    }
    .about__header {
        margin-bottom: max(4.3vw, 11px);
        margin-left: 0;
        font-size: max(6.3vw, 28px);
    }
    .about__text {
      font-size: max(2.07vw, 14px);
      line-height: max(4.2vw, 2em);
      letter-spacing: .1px;
    }
}

@media (max-width: 320px) {
    .about__header {
        margin-bottom: max(4.6vw, 11px);
    }
    .about__text {
        letter-spacing: 0;
    }
}