/*ADDRESS*/
.address__container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.address__header {
    margin-bottom: 30px;
    /* margin-left: 8.3vw; */
    font-size: 48px;
    font-weight: 400;
}

.address__content {
    display: flex;
    justify-content: space-between;
    padding-left: calc((100% - 1603px) / 2);
}

.contact-container {
    border-top: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
}

.address__contact {
    display: flex;
    flex-direction: column;
    width: 35.5%;
    margin: 0 auto;
    padding-top: 126px;
    padding-bottom: 122px;
}
.contact-name,
.form-fedback-label,
.contact-one-click {
    font-weight: 400;
}

.contact-name,
.contact-one-click{
    font-size: 24px;
}

.contact-name {
    margin-bottom: 3px;
}

.contact-street {
    margin-bottom: 29px;
}

.form-fedback-label {
    margin-bottom: 16px;
    font-size: 24px;
}

.form-fedback {
    position: relative;
    display: flex;
    flex-direction: column;
}

.fedback-form-element:not(:last-child) {
    max-width: 400px;
    margin-bottom: 22px;
    padding-left: 25px;
    padding-bottom: 5px;
    border: 1px solid var(--dark-grey);
    border-radius: 100px;
}

.fedback-form-element:not(:last-child):focus {
    background-color: var(--light-grey);
}

.fedback-name + .js-validate-error-label,
.fedback-phone + .js-validate-error-label {
    position: absolute;
    left: 15px;
    font-size: 12px;
}

.fedback-name + .js-validate-error-label {
    top: -25px;
}

.fedback-phone + .js-validate-error-label {
    top: 35px;
}

.fedback-btn {
    width: 157px;
    margin-bottom: 38px;
    padding: 13px;
    color: var(--lilac);
    border: 1px solid var(--lilac);
    border-radius: 100px;
    background-color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

.contact-one-click {
    margin-bottom: 14px;
    /* letter-spacing: -1px; */
}

.contact-social {
    display: flex;
}

.contact-icon {
    display: block;
    width: 40px;
    height: 40px;
}

.contact-whatsApp {
    margin-right: 20px;
    background: url(../img/Whatsapp-Icon.svg) center center no-repeat;
    /* background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 39.375C30.7005 39.375 39.375 30.7005 39.375 20C39.375 9.29948 30.7005 0.625 20 0.625C9.29948 0.625 0.625 9.29948 0.625 20C0.625 30.7005 9.29948 39.375 20 39.375Z' fill='%2330BF39'/%3E%3Cpath d='M25.8749 21.751C25.6249 21.626 24.3124 20.876 24.0624 20.8135C23.8124 20.6885 23.6249 20.6885 23.4374 20.9385C23.2499 21.1885 22.6874 21.8135 22.5624 21.9385C22.3749 22.126 22.2499 22.126 21.9999 22.001C21.7499 21.876 20.8749 21.5635 19.8749 20.5635C19.1249 19.8135 18.5624 18.9385 18.4374 18.626C18.3124 18.376 18.4374 18.1885 18.5624 18.0635C18.6874 17.9385 18.8124 17.751 18.9999 17.626C19.1874 17.501 19.1874 17.376 19.3124 17.1885C19.4374 17.001 19.3749 16.876 19.3124 16.6885C19.2499 16.501 18.7499 15.1885 18.5624 14.626C18.3749 14.0635 18.1249 14.1885 17.9999 14.126C17.8124 14.126 17.6874 14.0635 17.4999 14.0635C17.2499 14.0635 16.9374 14.1885 16.7499 14.376C16.4999 14.626 15.7499 15.251 15.7499 16.5635C15.7499 17.876 16.6249 19.251 16.7499 19.376C16.8749 19.5635 18.4999 22.4385 21.1874 23.626C23.8749 24.8135 23.8749 24.4385 24.3749 24.4385C24.8749 24.4385 25.9999 23.8135 26.2499 23.251C26.4999 22.626 26.4999 22.0635 26.4374 22.001C26.3124 22.001 26.1249 21.9385 25.8749 21.751ZM20.8749 28.1885C19.1249 28.1885 17.4999 27.6885 16.0624 26.751L12.6874 27.8135L13.8124 24.5635C12.7499 23.0635 12.1249 21.251 12.1249 19.376C12.1249 14.501 16.0624 10.5635 20.9374 10.5635C25.8124 10.5635 29.6874 14.501 29.6874 19.376C29.6874 24.251 25.7499 28.1885 20.8749 28.1885ZM20.8749 8.81348C15.0624 8.81348 10.3124 13.5635 10.3124 19.376C10.3124 21.3135 10.8124 23.1885 11.8124 24.8135L9.87489 30.501L15.7499 28.626C17.3124 29.501 19.0624 29.9385 20.8749 29.9385C26.6874 29.9385 31.4374 25.1885 31.4374 19.376C31.4374 13.5635 26.7499 8.81348 20.8749 8.81348Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat; */
}

.contact-telegramm {
    background: url(../img/Telegram.svg) center center no-repeat;
    /* background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.05311 19.7889L20.7167 14.7649C26.271 12.4547 27.425 12.0534 28.1773 12.0402C28.3428 12.0373 28.7127 12.0783 28.9523 12.2727C29.1547 12.4369 29.2103 12.6587 29.237 12.8143C29.2636 12.9699 29.2968 13.3246 29.2704 13.6017C28.9694 16.7641 27.667 24.4386 27.0045 27.9806C26.7241 29.4794 26.1725 29.9819 25.6377 30.0311C24.4762 30.138 23.5943 29.2635 22.4694 28.5261L18.006 25.528C16.0314 24.2268 17.3114 23.5116 18.4368 22.3428C18.7313 22.0368 23.8486 17.3823 23.9476 16.96C23.9596 16.9072 23.9715 16.7104 23.8546 16.6064C23.7376 16.5024 23.565 16.5384 23.4404 16.5663C23.2639 16.6064 20.4519 18.465 15.0044 22.1423C14.2062 22.6904 13.4832 22.9575 12.8354 22.9435C12.1213 22.9281 10.7477 22.5397 9.72651 22.2078C8.47399 21.8007 7.47851 21.5854 7.56523 20.8939C7.61035 20.5338 8.10631 20.1655 9.05307 19.789L9.05311 19.7889Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='20' y1='0' x2='20' y2='39.7033' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232AABEE'/%3E%3Cstop offset='1' stop-color='%23229ED9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center center no-repeat; */
}

.map-container {
    max-height: 700px;
    width: 70%;
}

.address__map {
    width: 83.5%;
    border-left: 1px solid var(--grey);
}

/* .address__map.map {
    border-left: 1px solid var(--grey);
} */

 [class*='ground-pane'] {
     filter: grayscale(1);
 }

 .ymaps-2-1-78-zoom {
     height: 0 !important;
 }

 .ymaps-2-1-78-gototech,
 .ymaps-2-1-78-copyright,
 .ymaps-2-1-78-gotoymaps {
     display: none;
 }

 .ymaps-2-1-78-controls__control {
     position: absolute;
     top: 50px;
     right: 10px;
 }

 @media (max-width: 1630px) {
     .address__container {
         margin: 0 auto;
         /* padding-left: 50px; */
     }
     .address__header {
        margin-left: -4px;
     }
    /* .contact-container {
         width: 47.5%;
     } */
     .address__contact {
        width: 47.5%;
        margin-right: 100px;
        padding-left: 49px;
        padding-top: 123px;
        padding-bottom: 103px;
     }
     .form-fedback-label {
        margin-bottom: 18px;
     }
     .fedback-form-element:not(:last-child) {
        width: 335px;
    }    
    .contact-name {
        margin-bottom: 3px;
    }
    .contact-street {
        margin-bottom: 29px;
    }
    .fedback-form-element:not(:last-child) {
        margin-bottom: 21px;
    }
    .contact-icon {
        width: 60px;
        height: 60px;
    }
     .contact-whatsApp {
        margin-right: 30px;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 59.0625C46.0508 59.0625 59.0625 46.0508 59.0625 30C59.0625 13.9492 46.0508 0.9375 30 0.9375C13.9492 0.9375 0.9375 13.9492 0.9375 30C0.9375 46.0508 13.9492 59.0625 30 59.0625Z' fill='%2330BF39'/%3E%3Cpath d='M38.8125 32.6265C38.4375 32.439 36.4688 31.314 36.0938 31.2202C35.7188 31.0327 35.4375 31.0327 35.1563 31.4077C34.875 31.7827 34.0313 32.7202 33.8438 32.9077C33.5625 33.189 33.375 33.189 33 33.0015C32.625 32.814 31.3125 32.3452 29.8125 30.8452C28.6875 29.7202 27.8438 28.4077 27.6563 27.939C27.4688 27.564 27.6563 27.2827 27.8438 27.0952C28.0313 26.9077 28.2188 26.6265 28.5 26.439C28.7813 26.2515 28.7813 26.064 28.9688 25.7827C29.1563 25.5015 29.0625 25.314 28.9688 25.0327C28.875 24.7515 28.125 22.7827 27.8438 21.939C27.5625 21.0952 27.1875 21.2827 27 21.189C26.7188 21.189 26.5313 21.0952 26.25 21.0952C25.875 21.0952 25.4063 21.2827 25.125 21.564C24.75 21.939 23.625 22.8765 23.625 24.8452C23.625 26.814 24.9375 28.8765 25.125 29.064C25.3125 29.3452 27.75 33.6577 31.7813 35.439C35.8125 37.2202 35.8125 36.6577 36.5625 36.6577C37.3125 36.6577 39 35.7202 39.375 34.8765C39.75 33.939 39.75 33.0952 39.6563 33.0015C39.4688 33.0015 39.1875 32.9077 38.8125 32.6265ZM31.3125 42.2827C28.6875 42.2827 26.25 41.5327 24.0938 40.1265L19.0312 41.7202L20.7188 36.8452C19.125 34.5952 18.1875 31.8765 18.1875 29.064C18.1875 21.7515 24.0938 15.8452 31.4063 15.8452C38.7188 15.8452 44.5313 21.7515 44.5313 29.064C44.5313 36.3765 38.625 42.2827 31.3125 42.2827ZM31.3125 13.2202C22.5938 13.2202 15.4688 20.3452 15.4688 29.064C15.4688 31.9702 16.2187 34.7827 17.7188 37.2202L14.8125 45.7515L23.625 42.939C25.9688 44.2515 28.5938 44.9077 31.3125 44.9077C40.0313 44.9077 47.1563 37.7827 47.1563 29.064C47.1563 20.3452 40.125 13.2202 31.3125 13.2202Z' fill='white'/%3E%3C/svg%3E ");
     }
     .contact-telegramm {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5796 29.6834L31.075 22.1474C39.4063 18.6821 41.1375 18.0801 42.2658 18.0603C42.514 18.0559 43.0689 18.1174 43.4283 18.4091C43.7319 18.6553 43.8153 18.9881 43.8553 19.2215C43.8954 19.4549 43.945 19.9869 43.9055 20.4025C43.454 25.1461 41.5005 36.6579 40.5066 41.9709C40.086 44.2191 39.2586 44.9729 38.4564 45.0467C36.7143 45.207 35.3913 43.8953 33.7039 42.7892L27.0089 38.292C24.0469 36.3402 25.967 35.2674 27.6551 33.5142C28.0968 33.0552 35.7728 26.0734 35.9213 25.44C35.9393 25.3608 35.9571 25.0656 35.7817 24.9096C35.6063 24.7536 35.3473 24.8076 35.1605 24.8495C34.8958 24.9096 30.6777 27.6975 22.5064 33.2135C21.3091 34.0356 20.2246 34.4363 19.253 34.4153C18.1819 34.3921 16.1214 33.8096 14.5897 33.3117C12.7109 32.701 11.2177 32.3781 11.3477 31.3409C11.4154 30.8007 12.1594 30.2483 13.5795 29.6835L13.5796 29.6834Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='30' y1='0' x2='30' y2='59.555' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232AABEE'/%3E%3Cstop offset='1' stop-color='%23229ED9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
     }
 }

 @media (max-width: 980px) {
    .header-container {
        letter-spacing: 1px;
    }
    /* .contact-container {
        width: 56.5%;
    } */
    .address__contact {
        width: 56.5%;
        margin-right: 35px;
        padding-top: 125px;
    }
    .form-fedback-label {
        margin-bottom: 16px;
        font-weight: 400;
    }
    .contact-name {
        font-size: 25px;
    }
 }

 @media (max-width: 768px) {
    .contact-container {
        margin-bottom: 2px;
    }
    .address__header{
        font-size: max(6.05vw, 28px);
    }
    .form-fedback {
        margin-right: 10px;
    }
    .fedback-form-element:not(:last-child) {
        width: 43.6vw;
        margin-bottom: 23px;
    }
    .fedback-btn {
        margin-bottom: 36px;
    }
}

 @media (max-width: 680px) {
    /* .address__container {
        padding-left: 15px;
    } */
    .header-container {
        letter-spacing: 0;
    }
     .address__header {
         margin-bottom: 17px;
         margin-left: -2px;
     }
     .address__content {
         position: relative;
     }
     .contact-container {
         width: 100%;
         border: none;
     }
     .address__contact {
         width: 100%;
         margin-right: 15px;
         padding-top: 0;
         padding-bottom: 28px;
         padding-left: 13px;
     }
     .contact-name {
         font-size: 1.1em;
         line-height: 1em;
     }
     .contact-street {
        font-size: .9em;
        margin-bottom: 360px;
        line-height: 1.2em;
     }     
     .address__map {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        border: none;
    }
    .address__map.map {
        width: 100%;
        height: 300px;
    }
     .form-fedback-label {
         font-size: 1.2em;
         letter-spacing: -0.6px;
     }
     .fedback-form-element:not(:last-child) {
        width: 100%;
    }
    .fedback-btn {
        width: 130px;
        height: 40px;
        padding: 3px;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .contact-one-click {
        margin-bottom: 5px;
        font-size: 1.1em;
    }
    .contact-icon {
        width: 50px;
        height: 50px;
    }    
    .contact-whatsApp {
        margin-right: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 49.2188C38.3756 49.2188 49.2188 38.3756 49.2188 25C49.2188 11.6244 38.3756 0.78125 25 0.78125C11.6244 0.78125 0.78125 11.6244 0.78125 25C0.78125 38.3756 11.6244 49.2188 25 49.2188Z' fill='%2330BF39'/%3E%3Cpath d='M32.3438 27.1885C32.0313 27.0322 30.3906 26.0947 30.0781 26.0166C29.7656 25.8603 29.5313 25.8603 29.2969 26.1728C29.0625 26.4853 28.3594 27.2666 28.2031 27.4228C27.9688 27.6572 27.8125 27.6572 27.5 27.501C27.1875 27.3447 26.0938 26.9541 24.8438 25.7041C23.9063 24.7666 23.2031 23.6728 23.0469 23.2822C22.8906 22.9697 23.0469 22.7353 23.2031 22.5791C23.3594 22.4228 23.5156 22.1885 23.75 22.0322C23.9844 21.876 23.9844 21.7197 24.1406 21.4854C24.2969 21.251 24.2188 21.0947 24.1406 20.8604C24.0625 20.626 23.4375 18.9854 23.2031 18.2822C22.9688 17.5791 22.6563 17.7354 22.5 17.6572C22.2656 17.6572 22.1094 17.5791 21.875 17.5791C21.5625 17.5791 21.1719 17.7354 20.9375 17.9697C20.625 18.2822 19.6875 19.0635 19.6875 20.7041C19.6875 22.3447 20.7813 24.0635 20.9375 24.2197C21.0938 24.4541 23.125 28.0478 26.4844 29.5322C29.8438 31.0166 29.8438 30.5478 30.4688 30.5478C31.0938 30.5478 32.5 29.7666 32.8125 29.0635C33.125 28.2822 33.125 27.5791 33.0469 27.501C32.8906 27.501 32.6563 27.4228 32.3438 27.1885ZM26.0938 35.2353C23.9063 35.2353 21.875 34.6103 20.0781 33.4385L15.8594 34.7666L17.2656 30.7041C15.9375 28.8291 15.1562 26.5635 15.1562 24.2197C15.1562 18.126 20.0781 13.2041 26.1719 13.2041C32.2656 13.2041 37.1094 18.126 37.1094 24.2197C37.1094 30.3135 32.1875 35.2353 26.0938 35.2353ZM26.0938 11.0166C18.8281 11.0166 12.8906 16.9541 12.8906 24.2197C12.8906 26.6416 13.5156 28.9853 14.7656 31.0166L12.3438 38.126L19.6875 35.7822C21.6406 36.876 23.8281 37.4229 26.0938 37.4229C33.3594 37.4229 39.2969 31.4853 39.2969 24.2197C39.2969 16.9541 33.4375 11.0166 26.0938 11.0166Z' fill='white'/%3E%3C/svg%3E%0A");
    }    
    .contact-telegramm {
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.3176 24.7359L25.8971 18.4559C32.8399 15.5681 34.2825 15.0665 35.2228 15.05C35.4297 15.0463 35.8921 15.0976 36.1916 15.3406C36.4446 15.5458 36.5141 15.8231 36.5474 16.0176C36.5808 16.2121 36.6222 16.6555 36.5892 17.0018C36.213 20.9548 34.585 30.548 33.7568 34.9755C33.4063 36.849 32.7168 37.4772 32.0483 37.5386C30.5965 37.6722 29.4941 36.5791 28.0879 35.6574L22.5087 31.9098C20.0404 30.2833 21.6405 29.3893 23.0472 27.9283C23.4153 27.5458 29.812 21.7276 29.9357 21.1998C29.9507 21.1338 29.9656 20.8878 29.8194 20.7578C29.6733 20.6278 29.4574 20.6728 29.3018 20.7076C29.0811 20.7577 25.5661 23.081 18.7567 27.6776C17.7589 28.3628 16.8552 28.6966 16.0455 28.6791C15.1529 28.6598 13.4358 28.1744 12.1594 27.7595C10.5937 27.2506 9.34935 26.9815 9.45775 26.1172C9.51415 25.667 10.1341 25.2067 11.3176 24.736L11.3176 24.7359Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='25' y1='0' x2='25' y2='49.6292' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232AABEE'/%3E%3Cstop offset='1' stop-color='%23229ED9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }
 }

 @media (max-width: 480px) {
    .contact-street {
        font-size: .8em;
        margin-bottom: 352px;
        line-height: 1.9em;
    }
    .form-fedback {
        margin-bottom: 3px;
        margin-right: 0;
    }
    .fedback-form-element:not(:last-child) {
        margin-bottom: 21px;
    }
    .contact-one-click {
        margin-bottom: 7px;
        letter-spacing: 0.3px;
    }
    .contact-social {
        padding-left: 2px;
    }
 }

 