/*CATALOG*/
.catalog__container {
    margin-bottom: 95px;
}

.catalog__tab {
    display: flex;
    margin-bottom: 5px;
}

.catalog__nav {
    display: flex;
    transform: translateY(-13px);
}

.catalog__header {
    margin-right: 41px;
}

.catalog__tab-btn::after {
    content: "";
    display: none;
    width: 66px;
    height: 66px;
    background-color: transparent;
    border: 2px solid var(--dark-lilac);
    border-radius: 50px;
    transform: translate(-18px, -13px);
}

.catalog__tab-btn.tab-active::after {
    display: block;
}

.catalog__item:not(:last-child) {
    margin-right: 50px;
}

.catalog__tab-btn {
    display: block;
    width: 46px;
    height: 46px;
    margin: 6px auto;
}

.tab-btn-franse {
    background: url(../img/franse.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-germany {
    background: url(../img/germany.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-italy {
    background: url(../img/italy.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-rus {
    background: url(../img/rus.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-belgiym {
    background: url(../img/belgium.png) center center no-repeat;
    background-size: cover;
}

.catalog__text {
    max-width: 1075px;
    margin-bottom: 34px;
}

.catalog__content {
    display: flex;
    justify-content: space-between;
}

.catalog__card {
    display: none;
    width: 47%;
}

.catalog__card.tab-active {
    display: block;
}

.catalog__accordion {
    width: 50%;
}
/* 
.catalog__card {
    margin-right: 15px;
} */

.catalog__card-picture {
    margin-bottom: 24px;
}

.biography {
    min-width: 95%;
}

.period-heading {
    width: 100%;
    height: 114px;
    margin: 0;
}

.accordion__period-list
/* .ui-accordion-content-active */
 {
    max-height: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ui-accordion .ui-accordion-header {
    position: relative;
    margin: 0;
    padding-left: 0;
    text-align: left;
    font-family: OpenSans;
    font-size: 1.5em;
    color: var(--dark-grey);
    background-color: var(--white);
}

.ui-accordion .ui-accordion-header:hover {
    color: var(--lilac);
    border-top: 2px solid var(--lilac);
    border-bottom: 2px solid var(--lilac);
}

.ui-accordion .ui-accordion-header:active {
    color: var(--dark-lilac);
    border-top: 2px solid var(--dark-lilac);
    border-bottom: 2px solid var(--dark-lilac);
}

.accordion__period-list.ui-accordion-content-active {
    border-top: 1px solid var(--lilac);
    border-bottom: 1px solid var(--lilac);
}

.ui-accordion .ui-accordion-content {
    padding-top: 2em;
    padding-left: 0;
}

.accordion__period-link:hover {
    border-bottom: 1px solid var(--lilac);
}

.accordion__period-link.tab-active {
    color: var(--lilac);
}

/* .ui-accordion .ui-accordion-content:nth-of-type(3n)  
.accordion__period-item:nth-of-type(3n) {
    margin-right: 0;
}*/

.accordion__period-time {
    border-top: 1px solid var(--grey);
}

.accordion__period-time:last-child {
    border-bottom: 1px solid var(--grey);
}

.ui-state-default,
.ui-widget-content {
    border: none;
}

.ui-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 17px);
    width: 52px;
    height: 52px;
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%23ECECEC'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='%23ECECEC'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-state-focus .ui-icon {
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%23ECECEC'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='%23ECECEC'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-state-hover .ui-icon {
    border: none;
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%239D5CD0'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='white'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-state-active .ui-icon {
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 25C49 38.2548 38.2548 49 25 49C11.7452 49 1 38.2548 1 25C1 11.7452 11.7452 1 25 1C38.2548 1 49 11.7452 49 25Z' fill='%237943A4' stroke='%23D1A9F0' stroke-width='2'/%3E%3Cpath d='M16.6667 27.3333L25 19L33.3333 27.3333' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-widget {
    font-family: OpenSans;
}

.accordion__period-item {
    display: none;
    height: 32px;
    margin-right: 30px;
}

.accordion__period-item.tab-active {
    display: block;
}

.accordion__period-link {
    font-size: 16px;
    line-height: 10px;
    border-bottom: transparent;
    transition: border .5s ease;
}

@media (max-width: 1300px) {
    .catalog__container {
        margin-bottom: 105px;
    }
    .catalog__nav {
        transform: translateY(-6px);
    }
    .catalog__tab {
        margin-bottom: 3px;
    }
    .catalog__text {
        margin-bottom: 38px;
    }
    .catalog__card-picture {
        margin-bottom: 25px;
    }
    .catalog__accordion {
        width: 47%;
    }
    .ui-accordion-content-active {
        max-height: 438px;
    }
    .accordion__period-item {
        margin-right: 50px;
    }
}

@media (max-width: 980px) {
    .catalog__container {
        margin-bottom: 87px;
    }
    .catalog__header {
        margin-right: 33px;
    }
    .catalog__nav {
        transform: translateY(-13px);
    }
    .catalog__accordion {
        margin-bottom: 50px;
    }
    .catalog__item:not(:last-child) {
        margin-right: 54px;
    }
    .catalog__text {
        margin-bottom: 20px;
    }
    .catalog__content {
        flex-direction: column-reverse;        
    }
    .catalog__card,
    .catalog__accordion {
        width: 100%;
    }
    .ui-accordion-content-active {
        height: 340px;
    }
}

@media (max-width: 750px) {
    .catalog__container {
        margin-bottom: 55px;
    }
    .catalog__tab {
        display: block;
    }
    .catalog__header {
        margin-bottom: 20px;
    }
    .catalog__tab-btn {
        width: 32px;
        height: 32px;
        border-radius: 50px;
    }
    .catalog__item:not(:last-child) {
        margin-right: 32px;
    }
    .catalog__tab-btn::after {
        width: 50px;
        height: 50px;
        transform: translate(-15px, -10px);
    }
    .catalog__text {
        display: none;
    }    
    .ui-accordion .ui-accordion-content {
        height: auto;
        padding: 25px 0 16px;
    }
    .ui-accordion .ui-accordion-header {
        font-size: 1.18em;
    }
    .ui-accordion-content-active {
        height: 438px;
    }    
    .period-heading {
        height: 73px;
    } 
    .ui-icon {
        width: 35px;
        height: 35px;
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23ECECEC'/%3E%3Ccircle cx='15' cy='15' r='15' stroke='%23ECECEC'/%3E%3Cpath d='M20 14L15 19L10 14' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .ui-state-focus .ui-icon {
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23ECECEC'/%3E%3Ccircle cx='15' cy='15' r='15' stroke='%23ECECEC'/%3E%3Cpath d='M20 14L15 19L10 14' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .ui-state-hover .ui-icon {
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%239D5CD0'/%3E%3Ccircle cx='15' cy='15' r='15' stroke='%239D5CD0'/%3E%3Cpath d='M20 14L15 19L10 14' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .ui-state-active .ui-icon {
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='15' transform='matrix(1 1.74846e-08 -2.91409e-08 -1 15 15)' fill='%23ECECEC'/%3E%3Ccircle r='15' transform='matrix(1 1.74846e-08 -2.91409e-08 -1 15 15)' stroke='%23ECECEC'/%3E%3Cpath d='M20 16L15 11L10 16' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .catalog__card-picture {
        margin-bottom: 12px;
    }
    
}

@media (max-width: 480px) {
    .biography-name {
        font-weight: 600;
    }
    .accordion__period-list {
        flex-wrap: nowrap;
    }
    .accordion__period-list,
    .ui-accordion-content-active {
        max-height: none;
    }  
    .ui-accordion .ui-accordion-header {
        font-size: 1.1em;
    }
    .ui-accordion .ui-accordion-content {
        padding: 25px 0 11px;
    } 
}
  