/*CATALOG*/
.catalog__container {
    margin-bottom: 98px;
}

.catalog__tab {
    display: flex;
    margin-bottom: 2px;
}

.catalog__nav {
    display: flex;
    transform: translateY(-13px);
}

.catalog__header {
    margin-right: 39px;
    font-size: 48px;
    font-weight: 400;
}

.catalog__tab-btn::after {
    content: "";
    display: none;
    width: 66px;
    height: 66px;
    background-color: transparent;
    border: 2px solid var(--dark-lilac);
    border-radius: 50px;
    transform: translate(-16px, -12px);
}

.catalog__tab-btn.tab-active::after {
    display: block;
}

.catalog__item:not(:last-child) {
    margin-right: 46px;
}

.catalog__tab-btn {
    display: block;
    width: 50px;
    height: 50px;
    margin: 6px auto;
}

.tab-btn-france {
    background: url(../img/franse.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-germany {
    background: url(../img/germany.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-italy {
    background: url(../img/italy.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-rus {
    background: url(../img/rus.png) center center no-repeat;
    background-size: cover;
}

.tab-btn-belgiym {
    background: url(../img/belgium.png) center center no-repeat;
    background-size: cover;
}

.catalog__text {
    max-width: 1075px;
    margin-bottom: 38px;
}

/* .catalog__content {
    display: flex;
    justify-content: space-between;
} */

.catalog__country {
    display: none;
    justify-content: space-between;
    width: 100%;
}

.catalog__country.tab-active {
    display: flex;
}

.catalog__card {
    display: none;
    width: 47%;
}

.catalog__card.tab-active {
    display: block;
}

.catalog__accordion {
    width: 50%;
}
/* 
.catalog__card {
    margin-right: 15px;
} */

.catalog__card-picture {
    margin-bottom: 21px;
}

.biography-name {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -.6px;
}

.biography {
    min-width: 95%;
}

.period-heading {
    width: 100%;
    margin: 0;
}

.ui-accordion .ui-accordion-header {
    position: relative;
    margin: 0;
    padding: 41px 0;
    text-align: left;
    font-family: OpenSans;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--dark-grey);
    background-color: var(--white);
    /* border-top: 1px solid var(--grey); */
    border-bottom: 1px solid transparent;
    transition: color .3s linear, border-color .3s linear;
}

.ui-accordion-header:hover,
.ui-accordion-header:focus {
    color: var(--lilac);
    /* border-top: 1px solid var(--lilac);
    border-bottom: 1px solid var(--lilac); */
}

.ui-accordion .ui-accordion-header:active {
    color: var(--dark-lilac);
    border-top: 1px solid var(--dark-lilac);
    border-bottom: 1px solid var(--dark-lilac);
}

.accordion__period-list.ui-accordion-content-active {
    border-top: 1px solid var(--lilac);
    border-bottom: 1px solid var(--lilac);
}

.ui-accordion .ui-accordion-content {
    padding-top: 2em;
    padding-left: 0;
    padding-right: 5em;
}

/* .ui-accordion .ui-accordion-content:nth-of-type(3n)  
.accordion__period-item:nth-of-type(3n) {
    margin-right: 0;
}*/

.accordion__period-time {
    border-top: 1px solid var(--grey);
    transition: border .3s linear;
}

.accordion__period-time:last-child {
    border-bottom: 1px solid var(--grey);
}

.accordion__period-time:last-child:hover {
    border-bottom: 1px solid var(--lilac);
}

.accordion__period-time:hover {
    border-top: 1px solid var(--lilac);
    /* border-bottom: 1px solid var(--lilac); */
}

.accordion__period-time:not(:last-child):hover + .accordion__period-time {
    border-top-color: var(--lilac);
}

.accordion__period-list {
    max-height: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.accordion__period-item {
    display: none;
    height: 32px;
    margin-right: 30px;
    padding-left: 2px;
}

.accordion__period-item.tab-active {
    display: block;
}

.accordion__period-link {
    padding: 5px 0;
    font-size: 16px;
    line-height: 10px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s linear, color .3s linear;
}

.accordion__period-link:hover {
    border-bottom-color: var(--lilac);
}

.accordion__period-link.tab-active,
.first-btn.tab-active {
    color: var(--lilac);
}

.ui-state-default,
.ui-widget-content {
    border: none;
}

.ui-widget button {
    font-family: OpenSans;
}

.ui-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 17px);
    width: 52px;
    height: 52px;
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%23ECECEC'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='%23ECECEC'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    transition: background .3s linear;
}

.ui-state-focus .ui-icon {
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%23ECECEC'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='%23ECECEC'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-state-hover .ui-icon {
    border: none;
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' fill='%239D5CD0'/%3E%3Cpath d='M50 25C50 38.8071 38.8071 50 25 50C11.1929 50 0 38.8071 0 25C0 11.1929 11.1929 0 25 0C38.8071 0 50 11.1929 50 25Z' stroke='white'/%3E%3Cpath d='M33.3333 23.3333L25 31.6667L16.6667 23.3333' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-state-active .ui-icon {
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 25C49 38.2548 38.2548 49 25 49C11.7452 49 1 38.2548 1 25C1 11.7452 11.7452 1 25 1C38.2548 1 49 11.7452 49 25Z' fill='%237943A4' stroke='%23D1A9F0' stroke-width='2'/%3E%3Cpath d='M16.6667 27.3333L25 19L33.3333 27.3333' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.ui-widget {
    font-family: OpenSans;
}

@media (max-width: 1600px) {
    .catalog__container {
        margin-bottom: 97px;
    }
    .catalog__nav {
        transform: translateY(-6px);
    }
    .catalog__header {
    /* margin-left: -3px; */
    margin-right: 41px;
    }
    .catalog__tab {
        margin-bottom: 1px;
    }
    .catalog__text {
        margin-bottom: 39px;
    }
    .catalog__card {
        width: 47.25%;
    }
    .catalog__card-picture {
        margin-bottom: 21px;
    }
    .catalog__accordion {
        width: 48%;
        padding-left: 5px;
    }
    .ui-accordion-content-active {
        max-height: 438px;
    }
    .ui-accordion .ui-accordion-header {
        padding: 41px 0;
    }
    .accordion__period-item {
        margin-right: 62px;
    }
    .ui-accordion .ui-accordion-content {
        padding-right: 0;
        overflow-x: hidden;
    }
}

@media (max-width: 980px) {
    .catalog__container {
        margin-bottom: 85px;
    }
    .catalog__header {
        margin-right: 39px;
    }
    .catalog__nav {
        transform: translateY(-13px);
    }
    .catalog__tab-btn {
        width: 50px;
    }
    .biography--day {
        line-height: initial;
    }
    .catalog__accordion {
        margin-bottom: 50px;
        padding-left: 0;
    }
    .catalog__text {
        margin-bottom: 20px;
    }
    .catalog__country {
        flex-direction: column-reverse;        
    }
    .catalog__card,
    .catalog__accordion {
        width: 100%;
    }
    .catalog__card-picture {
        margin-bottom: 20px;
    }
    .ui-accordion .ui-accordion-header {
        padding: 41px 0;
    }
    .ui-accordion .ui-accordion-content {
        margin-left: -3px;
        padding-top: 1.9em;
    }
    .accordion__period-item {
        margin-right: 58px;
    }
    .ui-accordion-content-active {
        height: 340px;
    }
}

@media (max-width: 768px) {
    .catalog__header{
        font-size: max(6.2vw, 28px);
    }
    .catalog__item:not(:last-child) {
        margin-right: 50px;
    }
}

@media (max-width: 750px) {
    .catalog__container {
        margin-bottom: 54px;
    }
    .catalog__tab {
        display: block;
    }
    .catalog__header {
        margin-bottom: 20px;
    }
    .catalog__tab-btn {
        width: 36px;
        height: 32px;
        border-radius: 50px;
    }
    .catalog__item:not(:last-child) {
        margin-right: 28px;
    }
    .catalog__tab-btn::after {
        width: 44px;
        height: 44px;
        transform: translate(-13px, -9px);
    }
    .catalog__text {
        display: none;
    }    
    .ui-accordion .ui-accordion-content {
        height: auto;
        padding: 25px 0 16px;
    }
    .ui-accordion .ui-accordion-header {
        padding: 24.5px 0;
        font-size: 1.18em;
    }
    .ui-accordion-content-active {
        height: 438px;
    }   
    .accordion__period-item {
        margin-right: 0;
    } 
    .ui-icon {
        width: 35px;
        height: 35px;
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23ECECEC'/%3E%3Ccircle cx='15' cy='15' r='15' stroke='%23ECECEC'/%3E%3Cpath d='M20 14L15 19L10 14' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .ui-state-focus .ui-icon {
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23ECECEC'/%3E%3Ccircle cx='15' cy='15' r='15' stroke='%23ECECEC'/%3E%3Cpath d='M20 14L15 19L10 14' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .ui-state-hover .ui-icon {
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%239D5CD0'/%3E%3Ccircle cx='15' cy='15' r='15' stroke='%239D5CD0'/%3E%3Cpath d='M20 14L15 19L10 14' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .ui-state-active .ui-icon {
        background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='15' transform='matrix(1 1.74846e-08 -2.91409e-08 -1 15 15)' fill='%23ECECEC'/%3E%3Ccircle r='15' transform='matrix(1 1.74846e-08 -2.91409e-08 -1 15 15)' stroke='%23ECECEC'/%3E%3Cpath d='M20 16L15 11L10 16' stroke='black'/%3E%3C/svg%3E%0A") center center no-repeat;
    }
    .catalog__card-picture {
        margin-bottom: 13px;
    }
    
}

@media (max-width: 480px) {
    .catalog__nav {
        transform: translateY(-11px);
    }
    .biography-name {
        margin-bottom: 3px;
        font-weight: 600;
        letter-spacing: normal;
    }
    .biography--day {
        line-height: 38px;
    }
    .biography {
        margin-top: -5px;
        padding-right: 3px;
    }
    .accordion__period-list {
        flex-wrap: nowrap;
    }
    .accordion__period-list,
    .ui-accordion-content-active {
        max-height: none;
    }  
    .ui-accordion .ui-accordion-header {
        font-size: 1.1em;
    }
    .ui-accordion .ui-accordion-content {
        padding: 26px 0 13px;
    } 
    .ui-icon {
        right: -3px;
        top: calc(50% - 9px);
    }
}
  