/*EVENTS*/
.events {
    margin-bottom: 137px;
}
.events__header {
    margin-bottom: 32px;
    margin-left: -2px;
    font-size: 48px;
    font-weight: 400;
}

.events__cards {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.event-card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: calc(100% / 3 - 38px);
    height: auto;
    min-height: 700px;
    margin-bottom: 46px;
    border: 2px solid var(--grey);
}

.events__card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 15px;
    padding-top: 13px;
}

.event-card:not(:nth-of-type(3n)) {
    margin-right: 50px;
}

.event-card:nth-child(n + 4) {
    display: none;
}

.events__small {
    text-align: right;
    line-height: 17px;
    font-size: 77%;
    color: var(--grey);
}

.events__card-content small:last-of-type {
    margin-bottom: 2px;
}

.events__card-header {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -.6px;
    line-height: 33px;
}

.events__text {
    margin-bottom: auto;
    padding-right: 30px;
    /* letter-spacing: .3px;*/
} 

.events__link {
    display: inline-block;
    position: absolute;
    width: max-content;
    bottom: 45px;
    color: var(--lilac);
    border-bottom: 1px solid var(--lilac);
    line-height: 24px;
    transition: color .3s linear, border-color .3s linear;
}

.events__link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    margin-top: -1px;
    background-color: var(--dark-lilac);
    transition: width .3s linear;
}

.events__link:hover {
    color: var(--dark-lilac);
    border-bottom: 1px solid transparent;
}

.events__link:hover::after {
    width: 100%;
}

.events__btn {
    position: absolute;
    left: calc(100% / 2 - 95px);
    margin: 0 auto;
    padding: 12px 35px;
    color: var(--lilac);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px 10px;
}

.swiper-pagination-bullet-active {
    background-color: var(--dark-grey);
}

@media (max-width: 1400px) {
    .events {
        margin-bottom: 144px;
    }
    .events__header {
        margin-bottom: 30px;
    }
    .event-card {
        width: calc(100% / 3 - 22px);
        min-height: 681px;
    }
    .event-card:not(:nth-of-type(3n)) {
        margin-right: 27px;
    }
    .events__card-picture {
        min-height: 196px;
    }
    .events__card-content {
        padding-left: 33px;
        padding-right: 16px;
    }
    .events__small {
        line-height: 20px;
    }
    .events__card-header {
        /* width: 77%; */
        margin-bottom: 5px;
        font-size: 22px;
        letter-spacing: .5px;
    }
    .events__text {
        padding: 0;
        letter-spacing: .6px;
    }
}

@media (max-width: 1000px) {
    .event-card {
        width: calc(100% / 2 - 17px);
    }
    .events__card-content {
        padding-top: 15px;
    }
    .event-card:nth-child(n + 3) {
        display: none;
    }
    .event-card:not(:nth-of-type(3n)) {
        margin-right: 0px;
    }
    .event-card:nth-child(odd) {
        margin-right: 25px;
    }
    .events__link {
        bottom: 51px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    .events__header{
        font-size: max(6vw, 28px);
    }
    .events__small {
        margin-bottom: 0px;
        line-height: 18px;
    }
    .events__card-header {
        letter-spacing: .9px;
    }
}

@media (max-width: 680px) {
    .events {
        margin-bottom: 20px;
    }
    .events__cards {
        flex-wrap: nowrap;
    }
    .events__header {
        margin-bottom: 12px;
    }
    .event-card {
        width: 100%;
    }
    .event-card:nth-child(n + 4),
    .event-card:nth-child(n + 3) {
        display: flex;
    }
    .events__card-picture {
        min-height: 200px;
        margin-bottom: 16px;
    }
    .events__card-content {
        padding-right: 15px;
        padding-top: 0;
        padding-left: 27px;
    }
    .events__btn {
        display: none;
    }
    .events__card-header {
        margin-bottom: 37px;
        letter-spacing: .3px;
    }
    .events__link {
        width: 93px;
        bottom: 60px;
    }
}