@font-face {
    font-family: 'OpenSans';
    src:
      local('OpenSans-Regular'),
      url(../fonts/opensans-regular-webfont.woff2) format('woff2'),
      url(../fonts/opensans-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src:
      local('OpenSans-SemiBold'),
      url(../fonts/opensans-semibold-webfont.woff2) format('woff2'),
      url(../fonts/opensans-semibold-webfont.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src:
      local('OpenSans-Bold'),
      url(../fonts/opensans-bold-webfont.woff2) format('woff2'),
      url(../fonts/opensans-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src:
      local('OpenSans-ExtraBold'),
      url(../fonts/opensans-extrabold-webfont.woff2) format('woff2'),
      url(../fonts/opensans-extrabold-webfont.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}