/* FOOTER */
.footer {
    background-color: var(--black
    );
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__logo {
    height: 39px;
}

.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-icon {
    display: block;
    width: 46px;
    height: 46px;
}

.footer-VK {
    background: url(../img/VK.svg) center center no-repeat;
}

.footer-instagramm {
    background: url(../img/instagram.svg) center center no-repeat;
}

.footer-facebook {
    background: url("data:image/svg+xml,%3Csvg width='47' height='46' viewBox='0 0 47 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.4915 0.0908203C11.0074 0.0908203 0.793213 10.3233 0.793213 22.9259C0.793213 34.3206 9.10078 43.7782 19.9506 45.4874V29.5348H14.1852V22.9259H19.9506V17.8894C19.9506 12.1692 23.3326 9.02429 28.5305 9.02429C31.0046 9.02429 33.5922 9.45729 33.5922 9.45729V15.0863H30.7322C27.9176 15.0863 27.0324 16.8411 27.0324 18.6414V22.9259H33.3425L32.3211 29.5348H27.0324V45.4874C32.3811 44.6393 37.2516 41.8993 40.7647 37.7619C44.2778 33.6246 46.2019 28.3626 46.1898 22.9259C46.1898 10.3233 35.9755 0.0908203 23.4915 0.0908203Z' fill='%23CACACA'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.footer-icon:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 1400px) {
    .footer-icon {
        width: 60px;
        height: 60px;
    }
    .footer-VK {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0C13.432 0 0 13.4314 0 30C0 46.5686 13.432 60 30 60C46.568 60 60 46.5686 60 30C60 13.4314 46.568 0 30 0ZM45.2176 33.2446C46.6159 34.6103 48.0951 35.8957 49.3504 37.4026C49.9065 38.0692 50.4307 38.7585 50.8297 39.5337C51.3993 40.6392 50.8849 41.8515 49.8954 41.9171L43.7494 41.9159C42.162 42.0473 40.8988 41.4071 39.8339 40.3218C38.9837 39.457 38.195 38.5332 37.3762 37.6389C37.0416 37.2718 36.6893 36.9262 36.2695 36.6543C35.4316 36.1093 34.7036 36.2762 34.2236 37.1515C33.7344 38.0421 33.6227 39.0292 33.5761 40.0205C33.5092 41.4697 33.0721 41.8484 31.618 41.9165C28.5109 42.062 25.5628 41.5906 22.8227 40.0241C20.4055 38.6425 18.5346 36.6924 16.9043 34.4845C13.7297 30.1805 11.2984 25.4566 9.11386 20.597C8.6222 19.5026 8.98189 18.917 10.1893 18.8943C12.1952 18.8557 14.2011 18.8606 16.2071 18.8925C17.0234 18.9054 17.5636 19.3725 17.8772 20.1428C18.9612 22.8098 20.2901 25.3473 21.9554 27.7007C22.3992 28.3274 22.8522 28.9522 23.4973 29.3948C24.2093 29.8834 24.7519 29.7219 25.0877 28.9271C25.3025 28.4219 25.3952 27.8817 25.4418 27.3404C25.6014 25.486 25.6205 23.6323 25.3442 21.7854C25.1724 20.6296 24.5224 19.8832 23.3702 19.6647C22.7834 19.5536 22.8694 19.3363 23.1548 19.0011C23.6501 18.4217 24.1142 18.0632 25.0416 18.0632L31.9857 18.062C33.0801 18.2768 33.3256 18.7679 33.4742 19.8703L33.4803 27.5871C33.4674 28.0137 33.6945 29.2782 34.4606 29.5574C35.0744 29.76 35.4795 29.2677 35.8465 28.8792C37.5118 27.112 38.6983 25.0263 39.7608 22.8675C40.2298 21.9155 40.6343 20.9303 41.0271 19.9433C41.3193 19.2135 41.7735 18.8544 42.5972 18.8667L49.2841 18.8747C49.4811 18.8747 49.6812 18.8765 49.8764 18.9103C51.0034 19.103 51.3121 19.5879 50.9635 20.6873C50.4147 22.4145 49.3485 23.8533 48.3063 25.2958C47.1892 26.8401 45.9977 28.3304 44.8917 29.8815C43.8752 31.2994 43.9556 32.0133 45.2176 33.2446Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
    }
    .footer-instagramm {
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2578 30C24.2578 33.1714 26.8286 35.7422 30 35.7422C33.1714 35.7422 35.7422 33.1714 35.7422 30C35.7422 26.8286 33.1714 24.2578 30 24.2578C26.8286 24.2578 24.2578 26.8286 24.2578 30Z' fill='%23CACACA'/%3E%3Cpath d='M16.5712 19.8403C16.8472 19.0923 17.2876 18.4153 17.8598 17.8596C18.4155 17.2874 19.0921 16.847 19.8405 16.571C20.4475 16.3352 21.3594 16.0546 23.0389 15.9781C24.8558 15.8953 25.4005 15.8774 30.0001 15.8774C34.6002 15.8774 35.1449 15.8948 36.9613 15.9777C38.6409 16.0546 39.5532 16.3352 40.1597 16.571C40.9082 16.847 41.5852 17.2874 42.1405 17.8596C42.7127 18.4153 43.153 19.0919 43.4295 19.8403C43.6653 20.4473 43.9459 21.3596 44.0223 23.0392C44.1052 24.8556 44.123 25.4003 44.123 30.0004C44.123 34.6 44.1052 35.1447 44.0223 36.9616C43.9459 38.6411 43.6653 39.553 43.4295 40.16C43.153 40.9084 42.7131 41.585 42.1409 42.1407C41.5852 42.7129 40.9086 43.1533 40.1602 43.4293C39.5532 43.6655 38.6409 43.9461 36.9613 44.0226C35.1449 44.1054 34.6006 44.1228 30.0006 44.1228C25.4001 44.1228 24.8553 44.1054 23.0394 44.0226C21.3598 43.9461 20.4475 43.6655 19.8405 43.4293C18.3381 42.8498 17.1507 41.6624 16.5712 40.16C16.3354 39.553 16.0548 38.6411 15.9779 36.9616C15.8951 35.1447 15.8777 34.6 15.8777 30.0004C15.8777 25.4003 15.8951 24.8556 15.9779 23.0392C16.0544 21.3596 16.335 20.4473 16.5712 19.8403ZM30.0001 38.8457C34.8858 38.8457 38.8464 34.8856 38.8464 29.9999C38.8464 25.1142 34.8858 21.1541 30.0001 21.1541C25.1149 21.1541 21.1543 25.1142 21.1543 29.9999C21.1543 34.8856 25.1149 38.8457 30.0001 38.8457ZM20.8046 22.8716C21.9462 22.8716 22.8718 21.946 22.8718 20.8044C22.8718 19.6627 21.9462 18.7371 20.8046 18.7371C19.6629 18.7371 18.7373 19.6627 18.7373 20.8044C18.7378 21.946 19.6629 22.8716 20.8046 22.8716Z' fill='%23CACACA'/%3E%3Cpath d='M30 0C46.566 0 60 13.434 60 30C60 46.566 46.566 60 30 60C13.434 60 0 46.566 0 30C0 13.434 13.434 0 30 0ZM12.8773 37.1022C12.9607 38.936 13.2523 40.188 13.678 41.2839C14.5729 43.5979 16.4021 45.4271 18.7161 46.322C19.8116 46.7477 21.064 47.0389 22.8973 47.1227C24.7343 47.2064 25.3212 47.2266 29.9995 47.2266C34.6783 47.2266 35.2647 47.2064 37.1022 47.1227C38.9355 47.0389 40.188 46.7477 41.2834 46.322C42.4333 45.8894 43.4743 45.2115 44.3349 44.3349C45.211 43.4747 45.889 42.4333 46.3216 41.2839C46.7473 40.1884 47.0389 38.936 47.1222 37.1027C47.2069 35.2652 47.2266 34.6783 47.2266 30C47.2266 25.3217 47.2069 24.7348 47.1227 22.8978C47.0393 21.064 46.7482 19.812 46.3225 18.7161C45.8899 17.5667 45.2115 16.5253 44.3349 15.6651C43.4747 14.7885 42.4333 14.1106 41.2839 13.678C40.188 13.2523 38.936 12.9611 37.1022 12.8773C35.2652 12.7936 34.6783 12.7734 30 12.7734C25.3217 12.7734 24.7348 12.7936 22.8978 12.8778C21.064 12.9611 19.812 13.2523 18.7161 13.6775C17.5667 14.1101 16.5253 14.7885 15.6647 15.6651C14.7885 16.5257 14.1101 17.5667 13.678 18.7161C13.2518 19.812 12.9607 21.064 12.8769 22.8978C12.7931 24.7348 12.7734 25.3217 12.7734 30C12.7734 34.6783 12.7931 35.2652 12.8773 37.1022Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
    }
    .footer-facebook {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0C13.5 0 0 13.497 0 30.1203C0 45.1504 10.98 57.6254 25.32 59.8799V38.8378H17.7V30.1203H25.32V23.477C25.32 15.9319 29.79 11.7836 36.66 11.7836C39.93 11.7836 43.3499 12.3547 43.3499 12.3547V19.7796H39.57C35.85 19.7796 34.68 22.0942 34.68 24.469V30.1203H43.0199L41.6699 38.8378H34.68V59.8799C41.7493 58.7612 48.1866 55.147 52.8297 49.6897C57.4729 44.2324 60.016 37.2916 59.9999 30.1203C59.9999 13.497 46.4999 0 30 0Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
    }
    .footer-icon:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 980px) {
    .footer__logo {
        height: 30px;
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px);
    }
}

@media (max-width: 680px) {
    .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 132px;
        padding-top: 20px;
    }
    .footer__logo {
        width: 97px;
        height: 22px;
    }
    .footer__social {
        margin-bottom: 25px;
    }
    .footer-icon {
        width: 50px;
        height: 50px;
    }
    .footer-VK {
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 0C11.1933 0 0 11.1928 0 25C0 38.8072 11.1933 50 25 50C38.8066 50 50 38.8072 50 25C50 11.1928 38.8066 0 25 0ZM37.6813 27.7038C38.8465 28.8419 40.0793 29.913 41.1253 31.1688C41.5887 31.7243 42.0256 32.2987 42.3581 32.9448C42.8327 33.866 42.4041 34.8762 41.5795 34.9309L36.4578 34.9299C35.135 35.0394 34.0824 34.5059 33.1949 33.6015C32.4864 32.8808 31.8292 32.111 31.1468 31.3657C30.868 31.0598 30.5744 30.7719 30.2246 30.5453C29.5263 30.091 28.9197 30.2302 28.5197 30.9596C28.112 31.7018 28.0189 32.5243 27.9801 33.3504C27.9243 34.5581 27.5601 34.8737 26.3483 34.9304C23.7591 35.0517 21.3023 34.6588 19.0189 33.3535C17.0046 32.202 15.4455 30.577 14.087 28.7371C11.4414 25.1504 9.41535 21.2138 7.59488 17.1642C7.18517 16.2522 7.48491 15.7642 8.49105 15.7453C10.1627 15.713 11.8343 15.7171 13.5059 15.7437C14.1862 15.7545 14.6363 16.1437 14.8977 16.7857C15.801 19.0082 16.9084 21.1228 18.2962 23.0839C18.666 23.6061 19.0435 24.1269 19.5811 24.4957C20.1744 24.9028 20.6266 24.7683 20.9064 24.1059C21.0854 23.6849 21.1627 23.2348 21.2015 22.7836C21.3345 21.2384 21.3504 19.6936 21.1202 18.1545C20.977 17.1913 20.4353 16.5693 19.4752 16.3872C18.9862 16.2946 19.0578 16.1136 19.2957 15.8343C19.7084 15.3514 20.0951 15.0527 20.868 15.0527L26.6547 15.0517C27.5668 15.2307 27.7714 15.6399 27.8951 16.5586L27.9003 22.9893C27.8895 23.3448 28.0788 24.3985 28.7171 24.6312C29.2286 24.8 29.5662 24.3898 29.8721 24.066C31.2598 22.5933 32.2486 20.8552 33.134 19.0563C33.5248 18.2629 33.8619 17.4419 34.1893 16.6194C34.4327 16.0113 34.8113 15.712 35.4977 15.7222L41.0701 15.7289C41.2343 15.7289 41.401 15.7304 41.5637 15.7586C42.5028 15.9192 42.7601 16.3233 42.4696 17.2394C42.0123 18.6788 41.1238 19.8777 40.2552 21.0798C39.3243 22.3668 38.3315 23.6087 37.4097 24.9013C36.5627 26.0829 36.6297 26.6777 37.6813 27.7038Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
    }
    .footer-instagramm {
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2148 25C20.2148 27.6428 22.3572 29.7852 25 29.7852C27.6428 29.7852 29.7852 27.6428 29.7852 25C29.7852 22.3572 27.6428 20.2148 25 20.2148C22.3572 20.2148 20.2148 22.3572 20.2148 25Z' fill='%23CACACA'/%3E%3Cpath d='M13.8096 16.5338C14.0397 15.9105 14.4066 15.3463 14.8835 14.8832C15.3466 14.4064 15.9104 14.0394 16.5341 13.8094C17.0399 13.6129 17.7998 13.3791 19.1994 13.3154C20.7135 13.2463 21.1674 13.2314 25.0004 13.2314C28.8338 13.2314 29.2878 13.2459 30.8014 13.315C32.201 13.3791 32.9613 13.6129 33.4668 13.8094C34.0905 14.0394 34.6547 14.4064 35.1174 14.8832C35.5942 15.3463 35.9612 15.9101 36.1916 16.5338C36.3881 17.0397 36.6219 17.7999 36.6856 19.1995C36.7547 20.7132 36.7695 21.1672 36.7695 25.0006C36.7695 28.8336 36.7547 29.2875 36.6856 30.8016C36.6219 32.2012 36.3881 32.9611 36.1916 33.4669C35.9612 34.0906 35.5946 34.6544 35.1178 35.1175C34.6547 35.5943 34.0909 35.9613 33.4671 36.1913C32.9613 36.3882 32.201 36.622 30.8014 36.6857C29.2878 36.7548 28.8342 36.7693 25.0008 36.7693C21.167 36.7693 20.7131 36.7548 19.1998 36.6857C17.8002 36.622 17.0399 36.3882 16.5341 36.1913C15.2821 35.7084 14.2926 34.7189 13.8096 33.4669C13.6132 32.9611 13.3793 32.2012 13.3152 30.8016C13.2462 29.2875 13.2317 28.8336 13.2317 25.0006C13.2317 21.1672 13.2462 20.7132 13.3152 19.1995C13.379 17.7999 13.6128 17.0397 13.8096 16.5338ZM25.0004 32.3717C29.0719 32.3717 32.3723 29.0716 32.3723 25.0002C32.3723 20.9287 29.0719 17.6286 25.0004 17.6286C20.9294 17.6286 17.6289 20.9287 17.6289 25.0002C17.6289 29.0716 20.9294 32.3717 25.0004 32.3717ZM17.3375 19.0599C18.2888 19.0599 19.0602 18.2886 19.0602 17.3372C19.0602 16.3858 18.2888 15.6145 17.3375 15.6145C16.3861 15.6145 15.6147 16.3858 15.6147 17.3372C15.6151 18.2886 16.3861 19.0599 17.3375 19.0599Z' fill='%23CACACA'/%3E%3Cpath d='M25 0C38.805 0 50 11.195 50 25C50 38.805 38.805 50 25 50C11.195 50 0 38.805 0 25C0 11.195 11.195 0 25 0ZM10.7311 30.9185C10.8006 32.4467 11.0435 33.49 11.3983 34.4032C12.1441 36.3316 13.6684 37.8559 15.5968 38.6017C16.5096 38.9565 17.5533 39.1991 19.0811 39.2689C20.612 39.3387 21.101 39.3555 24.9996 39.3555C28.8986 39.3555 29.3873 39.3387 30.9185 39.2689C32.4463 39.1991 33.49 38.9565 34.4028 38.6017C35.3611 38.2412 36.2286 37.6762 36.9457 36.9457C37.6759 36.2289 38.2408 35.3611 38.6013 34.4032C38.9561 33.4904 39.1991 32.4467 39.2685 30.9189C39.3391 29.3877 39.3555 28.8986 39.3555 25C39.3555 21.1014 39.3391 20.6123 39.2689 19.0815C39.1994 17.5533 38.9568 16.51 38.6021 15.5968C38.2416 14.6389 37.6762 13.7711 36.9457 13.0543C36.2289 12.3238 35.3611 11.7588 34.4032 11.3983C33.49 11.0435 32.4467 10.8009 30.9185 10.7311C29.3877 10.6613 28.8986 10.6445 25 10.6445C21.1014 10.6445 20.6123 10.6613 19.0815 10.7315C17.5533 10.8009 16.51 11.0435 15.5968 11.3979C14.6389 11.7584 13.7711 12.3238 13.0539 13.0543C12.3238 13.7714 11.7584 14.6389 11.3983 15.5968C11.0432 16.51 10.8006 17.5533 10.7307 19.0815C10.6609 20.6123 10.6445 21.1014 10.6445 25C10.6445 28.8986 10.6609 29.3877 10.7311 30.9185Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
    }
    .footer-facebook {
        background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 0C11.25 0 0 11.2475 0 25.1003C0 37.6254 9.14999 48.0212 21.1 49.8999V32.3648H14.75V25.1003H21.1V19.5642C21.1 13.2766 24.825 9.81967 30.55 9.81967C33.275 9.81967 36.125 10.2956 36.125 10.2956V16.483H32.975C29.875 16.483 28.9 18.4119 28.9 20.3908V25.1003H35.85L34.725 32.3648H28.9V49.8999C34.7911 48.9677 40.1555 45.9558 44.0248 41.4081C47.8941 36.8603 50.0133 31.0763 49.9999 25.1003C49.9999 11.2475 38.75 0 25 0Z' fill='%23CACACA'/%3E%3C/svg%3E%0A");
    }
    .footer-icon:not(:last-child) {
        margin-right: 30px;
    }
}

