/*GALLERY*/
.gallery {
    max-height: 995px;
    margin-bottom: 100px;
    padding: 95px 0 80px;
    color: var(--white);
    background: url(../img/gallery-fon.jpg) center center no-repeat;
    background-size: cover;
}

.gallery__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding-right: 130px; */
}

.gallery__content {
    position: relative;
    display: block;
    width: max(22vw, 420px);
    margin-right: 50px;
}

.gallery__header {
    margin-bottom: 37px;
}

.gallery__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
}

.gallery__span-select {
    margin-bottom: 15px;
    font-weight: 600;
}

.gallery-select {
    font-weight: 400;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.choices {
    margin-bottom: auto;
}

.is-open .choices__inner,
.choices__inner {
    /* width: 400px; */
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--white);
}

.choices__inner {
    padding: 0 0 0 10px;
}

.choices__list--dropdown {
    border: none;
}

.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.choices__list--dropdown .choices__item {
    padding: 0 15px;
    text-align: left;
}

.choices__list--dropdown .is-selected.choices__item--selectable {
    display: none;
}

.choices__item {
    height: 40px;
    border-radius: 6px;
    border: .5px solid var(--white);
}

.choices__list--single .choices__item {
    border: none;
}

.choices[data-type="select-one"]::after {
    content: "";
    display: block;
    margin-right: 4px;
    margin-top: -6.5px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 9px;
    height: 9px;
    transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open:after {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
}

.gallery__content-text {
    /* width: 400px; */
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.gallery__content-link {
    color: var(--lilac);
}

.gallery__swiper {
    /* width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto; */
    position: initial;
    width: 1200px;
}

.gallery-wrapper {
    /* display: flex; */
    height: 750px;
    /* justify-content: center; */
    /*width: 5468px; */
}

.gallery-slide {
    /* display: flex;
    height: calc((100% - 30px) / 2);
    justify-content: center;
    align-items: center;
    text-align: center; */
    display: block;
    max-width: 350px;
    max-height: 350px;
    height: auto;
}

@media (max-width: 1600px) {
    .gallery__content {
        width: min(56vw, 565px);
    }
    .gallery-wrapper {
        height: 594px;
    }
    .gallery-slide {
        max-width: 280px;
        max-height: 280px;
    }
}

@media (max-width: 980px) {
    .gallery {
        height: 1169px;
        max-height: 0%;
    }
    .gallery__container {
        flex-direction: column;
    }
    .gallery__content {
        width: 282px;
        margin-bottom: 50px;
    }
    /* .gallery-slide img {
        max-width: 317px;
        max-height: 280px;
    } */
    .gallery__content-text {
        position: absolute;
        width: 89vw;
        top: 940px;
        left: 0;
    }
}

@media (max-width: 680px) {
    .gallery {
        height: 962px;
        margin-bottom: 85px;
        padding-top: 55px;
    }
    .gallery__header {
        margin-bottom: 15px;
    }
    .gallery__span-select {
        margin-bottom: 5px;
    }
    .gallery__content-text {
        top: max(105vw, 300px);
        /* top: 680px; */
    }
    .gallery__swiper {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .gallery-wrapper {
        height: 367px;
    }
    .swiper-block-btn {
        width: 150px;
        margin: 0 auto;
    }
}

