/*GALLERY*/
.gallery {
    position: relative;
    margin-bottom: 100px;
    padding: 95px 0 80px;
    color: var(--white);
    background: url(../img/gallery-fon.jpg) center center no-repeat;
    background-size: cover;
}

.gallery__container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 130px; */
}

.gallery__content {
    /* position: relative; */
    display: block;
    width: max(29vw, 420px);
    margin-right: 48px;
}

.gallery__header {
    margin-bottom: 32px;
    padding-left: 2px;
    font-size: 48px;
    font-weight: 400;
}

.gallery__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 23px;
}

.gallery__span-select {
    margin-bottom: 10px;
    font-weight: 600;
}

.gallery-select {
    font-weight: 400;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.choices {
    margin-bottom: auto;
}

.is-open .choices__inner,
.choices__inner {
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--white);
}

.choices__inner {
    padding: 0 0 0 10px;
}

.choices__list--dropdown {
    border: none;
}

.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.choices__list--dropdown .choices__item {
    padding: 0 15px;
    text-align: left;
}

.choices__list--dropdown .is-selected.choices__item--selectable {
    display: none;
}

.choices__item {
    border-radius: 6px;
    border: .5px solid var(--white);
    letter-spacing: 2px;
}

.choices__list--single .choices__item {
    border: none;
}

.choices[data-type*=select-one]::after {
    content: "";
    display: block;
    margin-right: 4px;
    margin-top: -6.5px;
    border-top: 0 hidden transparent;
    border-right: 0 hidden transparent;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
}

.choices[data-type*=select-one].is-open::after {
    margin-top: 0px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.gallery__content-text {
    /* width: 400px; */
    margin-bottom: 29px;
    letter-spacing: .8px;
}

.gallery__content-link {
    color: var(--lilac);
}

.gallery__slider {
    position: initial;
    width: -webkit-fill-available;
    /* width: 1200px; */
}

.gallery-wrapper {
    height: 750px;
}

.gallery-slide {
    position: relative;
    display: block;
    max-width: 350px;
    max-height: 350px;
    height: auto;
}

.gallery-slide::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(194, 131, 243, 0.4);
    opacity: 0;
    transition: opacity .3s ease;
}

.gallery-slide:active::before {
    opacity: 1;
}

.gallery-slide::after {
    position: absolute;
    display: block;
    content: "";
    width: 85%;
    height: 85%;
    top: 25px;
    left: 25px;
    background: url("data:image/svg+xml,%3Csvg width='300' height='300' viewBox='0 0 300 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='25.1624' height='6.2906' transform='matrix(-0.72074 0.693205 0.72074 0.693205 128.135 159.197)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.27 167.771C138.041 167.771 124.885 154.683 124.885 138.539C124.885 122.395 138.041 109.308 154.27 109.308C170.498 109.308 183.654 122.395 183.654 138.539C183.654 154.683 170.498 167.771 154.27 167.771ZM154.27 175.079C133.984 175.079 117.539 158.719 117.539 138.539C117.539 118.359 133.984 102 154.27 102C174.555 102 191 118.359 191 138.539C191 158.719 174.555 175.079 154.27 175.079Z' fill='white'/%3E%3Cpath d='M152 126L152 151L157.995 151L157.995 126L152 126Z' fill='white'/%3E%3Cpath d='M167.234 136L142.234 136L142.234 141.995L167.234 141.995L167.234 136Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .5s ease;
}

.gallery-slide:hover::after {
    opacity: 1;
}

@media (max-width: 1600px) {
    .gallery__slider {
        max-width: 734px;
    }
    .gallery__content {
        width: min(56vw, 565px);
    }
}

@media (max-width: 1200px) {
    .gallery {
        padding-top: 97px;
        padding-bottom: 59px;
    }
    .gallery__header {
        margin-bottom: 34px;
        margin-left: -5px;
    } 
    .gallery__content {
        width: min(43vw, 565px);
    }
    .gallery__span-select {
        margin-bottom: 7px;
    }
    .gallery-wrapper {
        height: 615px;
    } 
    .gallery-slide {
        max-width: 280px;
        max-height: 280px;
    }
    .gallery__content-text {
        margin-bottom: 52px;
        letter-spacing: .5px;
    }
}

@media (max-width: 980px) {
    .gallery {
        margin-bottom: 94px;
        padding-bottom: 50px;
    }
    .gallery__container {
        flex-direction: column;
    }
    .gallery__content {
        width: 282px;
        margin-bottom: 70px;
    }
    .gallery__slider {
        margin-bottom: 100px;
    }
    .gallery__content-text {
        position: absolute;
        width: 89vw;
        bottom: 20px;
        left: 50px;
    }
}

@media (max-width: 768px) {
    .gallery__header{
        font-size: max(6.3vw, 28px);
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 54%;
    }
    .block-pagination {
        margin-right: 17px;
    }
}

@media (max-width: 680px) {
    .gallery {
        margin-bottom: 92px;
        padding-top: 55px;
        padding-bottom: 59px;
    }
    .gallery__content {
        width: 100%;
        margin-bottom: 90px;
    }
    .gallery__header {
        margin-bottom: 15px;
    }
    .gallery__span-select {
        margin-bottom: 5px;
    }
    .gallery__content-text {
        margin-bottom: 0;
        bottom: 61px;
        left: 15px;
    }
    .block-pagination {
        padding-top: 23px;
        padding-left: 5px;
    }
    .gallery__slider {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 164px;
    }
    .gallery-wrapper {
        height: 375px;
    }
    .swiper-block-btn {
        min-width: 134px;
        margin: 0 auto;
    }
    .block-prev {
        margin-right: 10px;
    }
    .block-pagination {
        margin-right: 13px;
    }
}


