/*HEADER*/
.header__top {
    height: 100px;
    background-color: var(--black);
}

.header__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: var(--white);
}

.header__top.is-active {
    height: 75px;
    background-color: rgba(0, 0, 0, .6);
}

.header__burger-menu {
    display: none;
    width: 36px;
    height: 28px;
    background: url("data:image/svg+xml,%0A%3Csvg width='36' height='29' viewBox='0 0 36 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='3.65217' transform='matrix(-1 0 0 1 36 0.699997)' fill='white'/%3E%3Cpath d='M28.2002 12.8739H0.00019455V16.5261H28.2002V12.8739Z' fill='white'/%3E%3Cpath d='M24 25.0478H0V28.7H24V25.0478Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.header__logo.is-active,
.header__burger-menu.is-active {
    display: none;
}

.header__burger-menu:focus {
    outline: 3px solid var(--dark-lilac);
}

.header__burger-menu:hover {
    background: url("data:image/svg+xml,%0A%3Csvg width='36' height='29' viewBox='0 0 36 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='3.65217' transform='matrix(-1 0 0 1 36 0.699997)' fill='%23C283F3'/%3E%3Cpath d='M28.2002 12.8739H0.00019455V16.5261H28.2002V12.8739Z' fill='%23C283F3'/%3E%3Cpath d='M24 25.0478H0V28.7H24V25.0478Z' fill='%23C283F3'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.header__burger-menu:active {
    background: url("data:image/svg+xml,%0A%3Csvg width='36' height='29' viewBox='0 0 36 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='3.65217' transform='matrix(-1 0 0 1 36 0.699997)' fill='%239D5CD0'/%3E%3Cpath d='M28.2002 12.8739H0.00019455V16.5261H28.2002V12.8739Z' fill='%239D5CD0'/%3E%3Cpath d='M24 25.0478H0V28.7H24V25.0478Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A") center center no-repeat;
    outline: none;
}

.header__menu {
    display: flex;
    width: min(78%, 1250px);
    justify-content: space-between;
}

.header__menu.is-active {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    padding-top: 100px;
    padding-left: 50px;
    z-index: 10;
    background-color: rgba(0, 0, 0, .9);
    transition: color .3s linear;
}

.header__menu.is-active .header__nav {
    top: 100px;
    left: 50px;
    text-align: left;
}

.header__menu.is-active .header__btn-hide,
.header__menu.is-active .header__nav-list {
    display: block;
}
    
.header__menu.is-active .header__nav-item {
    margin-bottom: 30px;
}

.header__menu.is-active .header__enter {
    display: block;
    position: absolute;
    top: 600px;
    left: 50px;
    width: 250px;
    height: 50px;
    padding-top: 6px;
    border: 2px solid var(--lilac);
    border-radius: 50px;
}

.header__btn-hide {
    display: none;
    position: absolute;
    top: 30px;
    left: 50px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: var(--white);
    background-color: transparent;
    transform: rotate(45deg);
}

.header__btn-hide.is-active {
    display: block;
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 100;
}

.header__btn-hide.is-active768 {
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    left: auto;
}

.header__btn-hide.is-active520 {
    font-weight: 400;
    display: block;
    position: absolute;
    top: 0px;
    right: 40px;
    left: auto;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.header__nav-item:not(:last-child) {
    margin-right: min(3.3vw, 70px);
}

.header__nav-link {
    height: 100%;
    font-size: 18px;
    font-weight: 600;
}

.header__enter {
    padding: 0 0 0 5.5vw;
    color: var(--white);
    font-size: 18px;
    background-color: var(--black);
    transition: color .3s linear;
}

.header__enter::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
    transition: background-image .3s linear;
}

.header__enter:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.header__enter:active:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
}

.header__form-search,
.header-search-text {
    display: none;
}

.header__form-search.is-active {
    width: 95%;
}

.header__form-search.is-active520 {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.header-search-text.is-active {
    display: block;
    width: 100%;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    animation: line .5s linear;
}

.header__bottom {
    height: 70px;
    background-color: rgba(0, 0, 0, .4);
    background-origin: border-box;
}

.header__bottom-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--white);
}

.header__bottom-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__bottom-nav-item {
    position: relative;
}

.header__bottom-nav-item:not(:last-child) {
    margin-right: 88px;
}

.header__nav-bottom-btn {
    position: relative;
    margin-bottom: 21px;
    padding-right: 20px;
    letter-spacing: 1px;
    color: var(--white);
    background-color: transparent;
    transition: color .3s linear;
}

.header__nav-bottom-btn::after {
    position: absolute;
    content: "";
    display: block;
    margin-right: 4px;
    margin-top: -6.5px;
    top: 50%;right: 0;
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-right: transparent;
    border-top: transparent;
    width: 9px;
    height: 9px;
    transform: rotate(-45deg);
    transition: border-color .3s ease;
}

.header__bottom-nav-item:hover .header__nav-bottom-btn::after {
    top: 22px;
    border-top: 1px solid var(--lilac);
    border-right: 1px solid var(--lilac);
    border-left: transparent;
    border-bottom: transparent;
}

.scrollbar-container {
    overflow: hidden;
}

.scrollbar {
    display: block;
    position: absolute;
    top: 50px;
    height: 300px;
    width: 300px;
    margin: 0;
    padding-right: 0;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s linear;
} 

.scrollbar.visible,
.scrollbar.visible .simplebar-track {
    opacity: 1;
    visibility: visible;
}

.scrollbar .simplebar-track {
    opacity: 0;
} 

.simplebar-track {
    bottom: 40px;
    right: 19px;
    background-color: var(--black);
}

.simplebar-track.simplebar-vertical {
    top: 40px;
    width: 2px;
}

.simplebar-scrollbar {
    width: 2px;
    height: 20px;
    background-color: var(--lilac);
}

.simplebar-scrollbar::before {
    left: 0;
    right: 0;
    border-radius: 0;
    background-color: var(--white);
    opacity: 1;
}

.scrollbar:hover .simplebar-scrollbar::before {
    background-color: var(--lilac);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0px;
    bottom: 0px;
}

.header-avtor {
    height: 40px;
    width: 220px;
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
    border: 2px solid transparent;
    transition: border .3s ease;
}

.header-avtor:not(:last-child) {
    margin-bottom: 20px;
}

.header-avtor:nth-child(1) {
    background: url(../img/hero-slide1.jpg) center center no-repeat;
    background-size: cover;
}

.header-avtor:nth-child(2) {
    background: url(../img/hero-slide2.jpg) center center no-repeat;
    background-size: cover;
}

.header-avtor:nth-child(3) {
    background: url(../img/hero-slide3.jpg) center center no-repeat;
    background-size: cover;
}

.header-avtor:nth-child(4) {
    background: url(../img/gallery19.jpg) center center no-repeat;
    background-size: cover;
}

.header-avtor:nth-child(5) {
    background: url(../img/gallery20.jpg) center center no-repeat;
    background-size: cover;
}

.header-avtor:nth-child(6) {
    background: url(../img/gallery23.jpg) center center no-repeat;
    background-size: cover;
}

.header-avtor:focus,
.header-avtor:hover {
    border-color: var(--lilac)
}

.header-avtor:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
    border: 2px solid var(--light-lilac);
}

.header__nav-select,
.header-bottom-search-text {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
}

.header__nav-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.header-bottom-search-text {
    width: 220px;
    height: 19px;
}

.header__bottom-form-search {
    display: flex;
    flex-direction: row-reverse;
}

.header-search {
    display: block;
    width: 22px;
    height: 35px;
    margin-right: 10px;
    transform: translateY(-10px);
    background: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat; 
}

.header__bottom-form-search:hover .header-search,
.header-bottom-search-text:active + .header-search {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6534)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='%23C283F3'/%3E%3C/svg%3E ");
}

.header__bottom-form-search:hover .header-bottom-search-text {
    border-bottom: 1px solid var(--light-lilac);
}

.header-search-text,
.header-bottom-search-text {
    border-bottom: 1px solid var(--white);
}


.header-bottom-search-text::placeholder {
    color: rgba(255, 255, 255, .85);
  }

@media (max-width: 1600px) {
    .header__enter {
        padding: 0;
    }
    .header__nav-item:not(:last-child),
    .header__bottom-nav-item:not(:last-child) {
        margin-right: 1.5vw;
    }
    .header__nav {
        margin-right: 10px;
    }
    .header-bottom-search-text {
        width: 140px;
    }
}

@media (max-width: 1024px) {
    .header__logo {
        position: absolute;
        top: 30px;
        left: calc(50% - 90px);
    }
    .header__menu {
        position: absolute;
        top: -100px;
    }
    .header__burger-menu {
        display: block;
    }
    .header__bottom,
    .header__enter {
        display: none;
    }
    .header__form-search {
        display: flex;
    }
    .header-search {
        width: 30px;
        margin-right: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9.15446' height='2.28862' transform='matrix(-0.718931 0.695081 0.718931 0.695081 6.58105 21.0461)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1246 24.174C10.0376 24.174 5.32763 19.2725 5.32763 13.5104C5.32763 7.74821 10.0376 2.84674 16.1246 2.84674C22.2115 2.84674 26.9215 7.74821 26.9215 13.5104C26.9215 19.2725 22.2115 24.174 16.1246 24.174ZM16.1246 26.8399C8.76285 26.8399 2.79502 20.8721 2.79502 13.5104C2.79502 6.14867 8.76285 0.180832 16.1246 0.180832C23.4863 0.180832 29.4541 6.14867 29.4541 13.5104C29.4541 20.8721 23.4863 26.8399 16.1246 26.8399Z' fill='white'/%3E%3C/svg%3E%0A");
        transform: translateY(0px);
    }
    .header-search:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='29' viewBox='0 0 30 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9.15446' height='2.28862' transform='matrix(-0.718931 0.695081 0.718931 0.695081 6.58105 21.0461)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1246 24.174C10.0376 24.174 5.32763 19.2725 5.32763 13.5104C5.32763 7.74821 10.0376 2.84674 16.1246 2.84674C22.2115 2.84674 26.9215 7.74821 26.9215 13.5104C26.9215 19.2725 22.2115 24.174 16.1246 24.174ZM16.1246 26.8399C8.76285 26.8399 2.79502 20.8721 2.79502 13.5104C2.79502 6.14867 8.76285 0.180832 16.1246 0.180832C23.4863 0.180832 29.4541 6.14867 29.4541 13.5104C29.4541 20.8721 23.4863 26.8399 16.1246 26.8399Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
    }
    .header__form-search:hover .header-search-text {
        border-bottom: 1px solid var(--dark-lilac);
    }    
}

@media (max-width: 520px) {
    .header__top {
        height: 45px;
    }
    .header__burger-menu {
        width: 20px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='19.9996' height='1.95652' transform='matrix(-1 0 0 1 21 0)' fill='white'/%3E%3Cpath d='M16.666 6.52174H0.999637V8.47826H16.666V6.52174Z' fill='white'/%3E%3Cpath d='M14.332 13.0435H0.998943V15H14.332V13.0435Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header__burger-menu:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='19.9996' height='1.95652' transform='matrix(-1 0 0 1 21 0)' fill='%23C283F3'/%3E%3Cpath d='M16.666 6.52174H0.999637V8.47826H16.666V6.52174Z' fill='%23C283F3'/%3E%3Cpath d='M14.332 13.0435H0.998943V15H14.332V13.0435Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
    }
    .logo {
        width: 97px;
        height: 22px;
    }
    .header__logo {
        position: absolute;
        top: calc(50% - 11px);
        left: calc(50% - 48px);
    }
    .header__btn-hide {
        width: 15px;
        height: 15px;
    }
    .header-search {
        width: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5.02605' height='1.25651' transform='matrix(-0.71131 0.702878 0.71131 0.702878 3.57617 11.5841)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75929 13.3207C5.45281 13.3207 2.89432 10.5994 2.89432 7.40037C2.89432 4.2013 5.45281 1.48007 8.75929 1.48007C12.0658 1.48007 14.6243 4.2013 14.6243 7.40037C14.6243 10.5994 12.0658 13.3207 8.75929 13.3207ZM8.75929 14.8007C4.76036 14.8007 1.51858 11.4875 1.51858 7.40037C1.51858 3.31326 4.76036 0 8.75929 0C12.7582 0 16 3.31326 16 7.40037C16 11.4875 12.7582 14.8007 8.75929 14.8007Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header-search:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5.02605' height='1.25651' transform='matrix(-0.71131 0.702878 0.71131 0.702878 3.57617 11.5841)' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75929 13.3207C5.45281 13.3207 2.89432 10.5994 2.89432 7.40037C2.89432 4.2013 5.45281 1.48007 8.75929 1.48007C12.0658 1.48007 14.6243 4.2013 14.6243 7.40037C14.6243 10.5994 12.0658 13.3207 8.75929 13.3207ZM8.75929 14.8007C4.76036 14.8007 1.51858 11.4875 1.51858 7.40037C1.51858 3.31326 4.76036 0 8.75929 0C12.7582 0 16 3.31326 16 7.40037C16 11.4875 12.7582 14.8007 8.75929 14.8007Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
    }
    .header__menu.is-active {
        height: max(100vw, 360px);
    }
    .header__menu.is-active .header__nav-item {
        height: max(5vw, 20px);
        margin-bottom: 1vw;
    }  
    .header__nav-link {
        font-size: max(3vw, 12px);
    }  
    .header__menu.is-active .header__enter {   
        width: 50vw; 
        top: max(80vw, 275px);
    }
}
