/* MODAL */
.modal__container {
    width: auto;
    padding: 0;
}

.modal__close {
    z-index: 100;
}

.modal-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 47vw;
    position: relative;
    color: black;
    background: #fff;
} 

.modal-box img {
    width: 47%;
    height: 500px;
}

.modal__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% 2% 10% 6%;
}

.modal__avtor {
    margin-bottom: 0;
    font-size: 1.5em;
}

.namePainting {
    font-weight: 700;
}

.dataPainting {
    margin-bottom: 20px;
    color: var(--dark-grey);
}

.discriptionPainting {
    margin-right: 10%;
}

@media (max-width: 1400px) {
    .modal__description {
        padding: 2% 2% 10% 6%;
    }
}    

@media (max-width: 680px) {
    .modal-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 250px;
        
    }
    .modal-box img {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        height: 180px;
    }
    .modal__avtor {
        font-weight: 600;
    }
}
