/*PROjECTS*/
.project__container {
    min-width: 0;
    margin-bottom: 66px;
}

.project__header {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 400;
}

.project__text {
    width: 66%;
    margin-bottom: 20px;
}

.tooltip-icon {
    position: relative;
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z' fill='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
    transform: translateY(5px);
}

.tooltip-icon-content {
    position: absolute;
    width: 300px;
    height: auto;
    bottom: 145%;
    left: -680%;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    background: #999;
    opacity: 0;
    transition: opacity .3s ease-in-out;
   }

   .tooltip-icon-content::after {
    content: ''; 
    position: absolute; 
    left: 47%; 
    bottom: -16px; 
    border: 6px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #999999; /* Добавляем треугольник */
   }

   .project-link {
    color: var(--lilac);
    border-bottom: transparent;
    transition: border-bottom .5s linear;
}

   .project-link:hover {
       border-bottom: 1px solid var(--lilac);
    }

   .project-link:active {
    border-bottom: 1px solid var(--dark-lilac);
    }
/* 
   .tooltip-icon:hover {
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8 3C7.33333 3 7 3.31919 7 3.95758C7 4.60026 7.33333 4.92159 8 4.92159C8.33333 4.92159 8.58233 4.83805 8.74699 4.67095C8.91566 4.49957 9 4.26178 9 3.95758C9 3.31919 8.66667 3 8 3ZM7.07831 13H8.91566V5.81491H7.07831V13Z' fill='%23CCB26E'/%3E%3C/svg%3E%0A") center center no-repeat;
   } */

   .tooltip-icon:hover > .tooltip-icon-content {
       opacity: 1;
   }

   .project__swiper-header {
       margin-bottom: 30px;
       font-weight: 700;
       font-size: 24px;
   }
/* 
   .project__swiper .swiper-wrapper {
       width: 1150px;
       margin-left: 60px;
   } */

   .project__swiper {
       display: flex;
       padding: 0 60px;
       text-align: center;
   }
 /* Так обрезается лишнее, но слайдер пролистывает пустые слайды 
   .project__wrapper {
       overflow: hidden;
   }*/

   .project-slide {
       width: 450px;
       filter: grayscale(1);
       transition: filter .3s ease-in-out;
   }

   .project-slide:hover {
        filter: grayscale(0);
   }

    .project-picture {
      width: 100%;
    }

    .progect-block-btn {
        position: relative;
        height: auto;
        }

    .project-prev,
    .project-next {
        position: absolute;
        top: 58px;
    } 

 @media (max-width: 1400px) {
     .project__text {
         width: 100%;
         margin-bottom: 24px;
     }
     .tooltip-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
     }
 }

 @media (max-width: 980px) {
     .project__container {
        margin-bottom: 103px;
    }
    .project__text {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .project__header{
        font-size: max(6vw, 28px);
    }
}

 @media (max-width: 680px) {
     .project__container {
         margin-bottom: 50px;
     }
     .project__header {
         margin-bottom: 15px;
     }
     .project__text {
         margin-bottom: 10px;
     }
     .project__swiper-header {
         margin-bottom: 10px;
         font-size: 1.1em;
     }
     /* .project-slide {      /*ЭТО ПОТОМ УДАЛИТЬ
        max-height: 70px;
     } */
    }