/*PROjECTS*/
.project__container {
    min-width: 0;
    margin-bottom: 95px;
}

.project__header {
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 400;
}

.project__text {
    width: 65.5%;
    margin-bottom: 21px;
}

.tooltip-icon {
    position: relative;
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='black'/%3E%3C/svg%3E%0A") center center no-repeat; 
    transform: translateY(5px);
}
.tooltip-icon:hover,
.tooltip-icon:focus {    
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16Z' fill='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.tooltip-icon-content {
    position: absolute;
    width: 300px;
    height: auto;
    bottom: 145%;
    left: -680%;
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    background: #999;
    opacity: 0;
    cursor: auto;
    transition: opacity .3s ease-in-out;
   }

   .tooltip-icon-content::after {
    content: ''; 
    position: absolute; 
    left: 47%; 
    bottom: -16px; 
    border: 6px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #999999; /* Добавляем треугольник */
   }

   .project-link {
    color: var(--lilac);
    border-bottom: transparent;
    transition: border-bottom .5s linear;
}

   .project-link:hover,
   .project-link:focus {
       border-bottom: 1px solid var(--lilac);
    }

   .project-link:active {
    border-bottom: 1px solid var(--dark-lilac);
    }

   .tooltip-icon:focus .tooltip-icon-content {
       opacity: 1;
   }

   .project__slider-header {
       margin-bottom: 22px;
       font-weight: 700;
       font-size: 24px;
       letter-spacing: -.5px;
   }

   .project__slider--container {
    position: relative;
    padding: 0 75px;
    }

    .project-slide__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 152px;
        border: 1px solid var(--grey);
        transition: border-color .2s ease-in-out;
   }

   .project-slide__link:hover {
       border-color: var(--lilac);
   } 

   .project-slide__link:active {
	border-color: var(--lilac);
}

    .project-slide__link:active img {
        filter: grayscale(1);
    }

   .project-picture {
        max-width: 80%;
        filter: grayscale(1);
        transition: filter .2s ease-in-out
    }

    .project-slide:hover .project-picture {
        filter: grayscale(0);
        outline-color: var(--lilac);
    }

    .project-prev,
    .project-next {
        position: absolute;
        top: 50%;
        background-color: #ececec;
        outline: none;
    } 

    .project-prev::after,
    .project-next::after {
        color: var(--black);
    }

    .project-prev:hover,
    .project-next:hover {
        background-color: var(--light-lilac);
    }

    .tippy-box[data-theme~='lilac'] {
        background-color: var(--lilac);
        color: var(--white);
    }

    .tippy-box[data-theme~='lilac'][data-placement^='top'] > .tippy-arrow::before {
        border-top-color: var(--lilac);
    }

    .tippy-box[data-theme~='lilac'][data-placement^='bottom'] > .tippy-arrow::before {
        border-bottom-color: var(--lilac);
    }

    .tippy-box[data-theme~='lilac'][data-placement^='left'] > .tippy-arrow::before {
        border-left-color: var(--lilac);
    }

    .tippy-box[data-theme~='lilac'][data-placement^='right'] > .tippy-arrow::before {
        border-right-color: var(--lilac);
    }

 @media (max-width: 1400px) {
     .project__container{
         margin-bottom: 97px;
     }
     .project__header {
         margin-left: -4px;
     }
     .project__text {
         width: 100%;
         margin-bottom: 21px;
     }
     .project__slider-header {
        margin-left: -3px;
        margin-bottom: 25px;
     }
     .project__slider--container {
        padding: 0 52px;
     }
      .project-slide__link {
        height: 125px;
    }
    .tooltip-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8Z' stroke='%239D5CD0'/%3E%3Cpath d='M7.26154 6.4551H8.73846V13H7.26154V6.4551ZM8 4.90259C7.71282 4.90259 7.4718 4.81126 7.27692 4.62861C7.09231 4.44597 7 4.22273 7 3.9589C7 3.69508 7.09231 3.47184 7.27692 3.28919C7.4718 3.0964 7.71282 3 8 3C8.28718 3 8.52308 3.09132 8.70769 3.27397C8.90256 3.44647 9 3.66464 9 3.92846C9 4.20243 8.90256 4.43582 8.70769 4.62861C8.52308 4.81126 8.28718 4.90259 8 4.90259Z' fill='%239D5CD0'/%3E%3C/svg%3E%0A");
     }
}

 @media (max-width: 980px) {
     .project__container {
        margin-bottom: 95px;
    }
    .project__text {
        margin-bottom: 25px;
    }
    .project-slide {
        min-height: 107px;
    }
    .project-slide__link {
        height: 104px;
    }
}

@media (max-width: 768px) {
    .project__header{
        margin-bottom: 33px;
        font-size: max(6.3vw, 28px);
    }
    .project__slider-header {
        margin-bottom: 29px;
    }
    .progect-block-btn {
        margin-bottom: 0;
    }
    .project-prev, 
    .project-next {
        position: absolute;
        top: 55%;
    }
}

 @media (max-width: 680px) {
     .project__container {
         margin-bottom: 12px;
     }
     .project__header {
         margin-bottom: 15px;
     }
     .project__text {
         margin-bottom: 10px;
     }
     .project__slider-header {
         margin-bottom: 10px;
         font-size: 1.1em;
         letter-spacing: 0;
     }
     .project__slider--container {
        padding: 0px 48px;
    }
    .project-prev, 
    .project-next {
        position: absolute;
        top: 37%;
    }
     .project-slide__link {
        height: 65px;
    }
    .project-picture {
        max-width: 55%;
        max-height: 70%;
    }
 }