/*PUBLICATIONS*/
.publications {
    margin-bottom: 92px;
    padding-top: 98px;
    padding-bottom: 85px;
    background: url(../img/pablications.jpg) center center no-repeat;
    background-size: cover;
}

.publications__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: var(--white);
}

.publications__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 2%;
}

.publications__check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 28px;
}

.publications__header {
    margin-bottom: 33px;
    font-size: 48px;
    font-weight: 400;
}

.check-header {
    padding: 0;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    background: transparent;
}

.check {
    position: absolute;
    opacity: 0;
}

.check:focus-visible + .check-text {
    color: var(--light-lilac);
}

.check-text:hover {
    color: var(--light-lilac)
}

.check-text:hover + .check-span {
    border-color: var(--light-lilac);
}

.check-label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.check-label:focus-visible {
    outline-color: var(--lilac);
}

.check-text {
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.check:checked ~ .check-text {
    color: var(--lilac);
}

.check ~ .check-span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
    -webkit-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.check:focus-visible ~ .check-span {
    border-color: var(--light-lilac);
}


.check ~ .check-span::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid var(--lilac);
    background: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A") center center no-repeat;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.check:checked {
    color: var(--lilac);
}

.check:checked ~ .check-span {
    border-color: transparent;
}

.check:checked ~ .check-span::before {
    opacity: 1;
}

.check-btn {
    display: none;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.501981 11.4789L11.502 0.000216305L12.002 0.521973L1.00198 12.0006L0.501981 11.4789Z' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.500026 9.03416e-05L11.5 11.4787L11 12.0005L2.74963e-05 0.521847L0.500026 9.03416e-05Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.check-price {
    margin-bottom: 6px;
    border-radius: 6px;
}

.check-input-price {
    width: 277px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 6px;
}

.check-price-from,
.check-price-to {
    width: 73px;
    height: 100%;
    padding-left: 10px;
    color: var(--white);
    background-color: rgba(157, 92, 208, 0.5);
}

.check-price-from:hover,
.check-price-to:hover,
.check-price-from:focus,
.check-price-to:focus {
    background-color: rgba(157, 92, 208, 1);
}

.check-price-from:active,
.check-price-to:active {
    background-color: var(--dark-lilac);
}

.check-price-from::-webkit-input-placeholder, .check-price-to::-webkit-input-placeholder {
    color: var(--white);
}

.check-price-from::-moz-placeholder, .check-price-to::-moz-placeholder {
    color: var(--white);
}

.check-price-from:-ms-input-placeholder, .check-price-to:-ms-input-placeholder {
    color: var(--white);
}

.check-price-from::-ms-input-placeholder, .check-price-to::-ms-input-placeholder {
    color: var(--white);
}

.check-price-from::placeholder,
.check-price-to::placeholder {
    color: var(--white);
} 

.label-from,
.label-to,
.label-price-to {
    display: inline-block;
    height: 40px;
    text-align: center;
}

.label-from {
    width: 36px;
}

.label-to {
    width: 31px;
}

.label-price-to {
    width: 45px;
}

.publications__slider {
    position: initial;
    width: auto;
}

.publications-block-btn {
    height: 71px;
}

.publication-prev,
.publication-next {
    top: 54%
}

.publication-pagination {
    margin-right: 17px;
    padding-top: 28px;
}

.publication__wrapper {
    width: 1150px;
}

.publication-slide {
    min-height: 500px;  
}

.publication-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.publication-card-picture {
    margin-bottom: 20px;
}

.card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.publication-item,
.card-content,
.pablication-name,
.pablication-avtor {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.publication-namePrice {
    width: 46%;
    margin-bottom: 10px;
    line-height: 27px;
}

.pablication-name {
    font-size: 1em;
    font-weight: 700;
}

.pablication-price {
    font-style: italic;
}

.publication-card-btn {
    width: 105px;
    color: var(--white);
    font-size: 1em;
    background-color: transparent;
}

@media (max-width: 1500px) {
    .publications__content {
        margin-right: 2%;
    }
    .slider__content {
        margin: 0 auto;
    }
    .publication__wrapper {
    width: 970px;
    }
    .publication-slide {
        max-width: 292px;
    }  
}

@media (max-width: 1300px) {
    .publications {
        margin-bottom: 92px;
    }
    .publications__content {
       margin-right: 2%;
    }
    .publication__wrapper {
        width: 629px;
    }
    .publication-card-picture {
        margin-bottom: 5px
    }
    .publication-namePrice {
        margin-bottom: 12px;
        line-height: 26px;
    }
}

@media (max-width: 1020px) {
    .publications {
        margin-bottom: 93px;
        padding-top: 101px;
        padding-bottom: 0;
        background: url(../img/pablications768.jpg) center center no-repeat;
        background-size: cover;
    }
    .publications__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .publications__header{
        font-size: max(6.2vw, 28px);
    }
    .publications__content {
        margin-right: 0;
    }
    .publications__check {
       height: 129px;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap; 
       margin-bottom: 25px;
    }
    .publication-item {
        margin-right: max(7.5vw, 10px);
    }
    .check-price {
        margin-bottom: 5px;
    }
    .check-input-price {
        margin-bottom: 40px;
    }
    .slider__content {
        position: relative;
        padding-top: 68px;
    }
    .publications-block-btn {
        position: absolute;
        top: 0;
        left: 0;
        height: 67px;
        margin-bottom: 2px;
        margin-left: -25px;
    }
    .publication-prev, 
    .publication-next {
        top: 48%;
    }
    .publication-pagination {
        padding-top: 21px;
    }
    .publication__wrapper {
        width: 615px;
        margin: 0 auto;
    }
    .publication-slide {
        min-height: 516px;
    }
    .publication-card-picture {
        margin-bottom: 10px;
    }
    .pablication-name {
        font-weight: 600;
        letter-spacing: .5px;
    }
    .pablication-price {
        line-height: 25px;
    }
    .publication-namePrice {
        margin-bottom: 14px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    .publications {
        margin-bottom: 54px;
        padding-top: 52px;
    }
    .publications__header {
        margin-bottom: 15px;
    }
    .check ~ .check-span {
        top: 14px;
    }
    .check-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 40px;
        padding: 0;
        line-height: 35px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    .check-header-arrow {
        display: block;
        stroke: #fff;
    }
    .check-header-arrow.arrow-active {
        stroke: var(--lilac);
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        margin-top: 5px;
      }
    .arrow-active path {
        stroke: var(--lilac);
      }
    .check-label {
        margin: 0;
    }
    .check-label {
        display: none;
    }
    .check-label.is-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .check-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .publication-item {
        margin-right: 0;
    }
    .publications__check {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        height: auto;
        margin-bottom: 17px;
    }
    .check-label,
    .check {
        width: 100%;
    } 
    .check.active {
        display: block;
    }
    .check:checked ~ .check-btn {
        display: block;
    }
    .check-price {
        margin-bottom: 7px;
    }
    .check-input-price {
        margin-bottom: 50px;
    }
    .slider__content {
        padding-top: 0;
    }
    .publications-block-btn {
        display: none;
    }
    .publication__wrapper {
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .publication-slide {
        width: 45%;
        min-height: 304px;
    }
    .publication-card-picture {
        margin-bottom: 7px;
    }
    .pablication-avtor {
        margin-bottom: 2px;
    }
    .publication-namePrice {
        width: 100%;
        margin-bottom: 0;
        line-height: 16px;
    }
    .pablication-price {
        margin-bottom: 12px;
        line-height: 16px;
    }
    .card-content,
    .publication-card-btn {
        font-size: 12px;
    }
    .publication-card-btn {
        width: 112px;
        margin-bottom: 50px;
        font-size: 12.5px;
    }
    .card-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}