/*PUBLICATIONS*/
.publications {
    margin-bottom: 90px;
    padding-top: 98px;
    padding-bottom: 85px;
    background: url(../img/pablications.jpg) center center no-repeat;
    background-size: cover;
}

.publications__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white);
}

.publications__content {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.publications__check {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.publications__header {
    margin-bottom: 33px;
    margin-left: -3px;
    font-size: 48px;
    font-weight: 400;
}

.check-header {
    padding: 0;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    background: transparent;
}

.check {
    position: absolute;
    opacity: 0;
}

.check:focus-visible + .check-text {
    color: var(--light-lilac);
}

.check-text:hover {
    color: var(--light-lilac)
}

.check-text:hover + .check-span {
    border-color: var(--light-lilac);
}

.check-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.check-label:focus-visible {
    outline-color: var(--lilac);
}

.check-text {
    transition: color .2s ease-in-out;
}

.check:checked ~ .check-text {
    color: var(--lilac);
}

.check ~ .check-span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
    /* border-radius: 3px; */
    transition: border-color .2s ease-in-out;
}

.check:focus-visible ~ .check-span {
    border-color: var(--light-lilac);
}


.check ~ .check-span::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid var(--lilac);
    /* border-radius: 3px; */
    background: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 4 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A") center center no-repeat;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.check:checked {
    color: var(--lilac);
}

.check:checked ~ .check-span {
    border-color: transparent;
}

.check:checked ~ .check-span::before {
    opacity: 1;
}

.check-btn {
    display: none;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.501981 11.4789L11.502 0.000216305L12.002 0.521973L1.00198 12.0006L0.501981 11.4789Z' fill='%23C283F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.500026 9.03416e-05L11.5 11.4787L11 12.0005L2.74963e-05 0.521847L0.500026 9.03416e-05Z' fill='%23C283F3'/%3E%3C/svg%3E%0A");
}

.check-price {
    margin-bottom: 6px;
    border-radius: 6px;
}

.check-input-price {
    width: 277px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 6px;
}

.check-price-from,
.check-price-to {
    width: 73px;
    height: 100%;
    padding-left: 10px;
    color: var(--white);
    background-color: var(--lilac);
}

.check-price-from::placeholder,
.check-price-to::placeholder {
    color: var(--white);
} 

.label-from,
.label-to,
.label-price-to {
    display: inline-block;
    height: 40px;
    text-align: center;
}

.label-from {
    width: 36px;
}

.label-to {
    width: 31px;
}

.label-price-to {
    width: 45px;
}

.publications__slider {
    margin: 0;
}

.publications-block-btn {
    height: 71px;
}

.publication-prev,
.publication-next {
    top: 54%
}

.publication-pagination {
    margin-right: 17px;
    padding-top: 28px;
}

.publication__wrapper {
    width: 1150px;
}

.publication-slide {
    max-width: 350px;
    min-height: 500px;  
}
/* 
.publication-slide:not(:last-child) {
    margin-right: 50px;
} */

.publication-card {
    display: flex;
    flex-direction: column;
}

.publication-card-picture {
    margin-bottom: 20px;
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.publication-item,
.card-content,
.pablication-name,
.pablication-avtor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.publication-namePrice {
    width: 46%;
    margin-bottom: 10px;
    line-height: 27px;
}

.pablication-name {
    font-size: 1em;
    font-weight: 700;
    /* font-size: 24px; */
}

.pablication-price {
    font-style: italic;
}
/* 
.pablication-avtor {
    margin-bottom: 20px;
} */

.publication-card-btn {
    width: 105px;
    color: var(--white);
    font-size: 1em;
    background-color: transparent;
}

@media (max-width: 1500px) {
    .publication__wrapper {
    width: 970px;
    }
    .publication-slide {
        max-width: 290px;
    }  
}

@media (max-width: 1280px) {
    .publication__wrapper {
        width: 629px;
    }
    .publication-card-picture {
        margin-bottom: 10px;
    }
}

@media (max-width: 968px) {
    .publications {
        margin-bottom: 110px;
        padding-top: 98px;
        padding-bottom: 0;
        background: url(../img/pablications768.jpg) center center no-repeat;
        background-size: cover;
    }
    .publications__container {
        flex-direction: column;
    }
    .publications__content {
        margin-right: 0;
    }
    .publications__check {
       height: 129px;
       flex-wrap: wrap; 
    }
    /* .check-label, */
    .publication-item {
        margin-right: max(7.2vw, 10px);
    }
    .check-price {
        margin-bottom: 5px;
    }
    .check-input-price {
        margin-bottom: 40px;
    }
    .publications-block-btn {
        margin-bottom: 2px;
    }
    .publication__wrapper {
        width: 615px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .publications__header{
        font-size: max(6.2vw, 28px);
    }
}

@media (max-width: 760px) {
    .publications {
        margin-bottom: 54px;
        padding-top: 55px;
    }
    .publications__header {
        margin-bottom: 15px;
    }
    .check-header {
        height: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    .check-label {
        margin: 0;
    }
    .check-header {
        padding: 0;
    }
    .check-header,
    .publication-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .publication-item {
        display: none;
    }
    .publication-item.is-active {
        display: flex;
        height: 40px;
        margin-right: 0;
    }
    .publications__check {
        flex-wrap: nowrap;
        height: auto;
        margin-bottom: 17px;
    }
    .check-label,
    .check {
        width: 100%;
    }    
    .check:checked ~ .check-btn {
        display: block;
    }
    .check-price {
        margin-bottom: 7px;
    }
    .check-input-price {
        margin-bottom: 50px;
    }
    .publications-block-btn {
        display: none;
    }
    .publication__wrapper {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .publication-slide:nth-child(odd) {
        margin-right: 30px;
    }
    .publication-slide {
        width: 44%;
        min-height: 304px;
    }
    .publication-namePrice {
        width: 100%;
        margin-bottom: 0;
        line-height: 16px;
    }
    .pablication-price {
        margin-bottom: 11px;
        line-height: 20px;
    }
    .card-content,
    .publication-card-btn {
        font-size: 12px;
    }
    .publication-card-btn {
        width: 112px;
        margin-bottom: 50px;
    }
    .card-content {
        flex-direction: column;
    }
}





