:root {
  --white: #ffffff;
  --light-grey: #e5e5e5;
  --grey: #CACACA;
  --dark-grey: #333;
  --black: #000;
  --light-lilac: #C283F3;
  --lilac: #9D5CD0;
  --dark-lilac: #7943A4;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*включаем border и padding в общие размеры элементов*/
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  /*width: 1920px;
    margin: 0; */
  background-color: var(--white);
  /* под проект */
  font-family: 'OpenSans', Arial, sans-serif;
  /* в "" свой шрифт под проект*/
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grey);
  line-height: 32px;
}

button,
input {
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*отключаем маркеры списков*/
}

img {
  max-width: 100%;
  /*изображениям задаем максимальный размер своего родителя*/
  height: auto;
}

.visually-hidden {
  /*прячем заголовок*/
  position: absolute !important;
  /*удаляется из нормального потока, не влияя на расположение сестринских элементов*/
  clip: rect(1px 1px 1px 1px);
  /*Всё, что не помещается в эту область, будет обрезано и становится невидимым*/
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.container {
  /*задаем контейнеру размеры*/
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
} 

.logo {
  width: 173px;
  height: 39.9px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-block-btn {
  display: flex;
  height: 77px;
}

.block-prev,
.block-next {
  position: relative;
  width: 30px;
  height: 30px;
}

.block-prev {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%23666666'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.block-next {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%23666666'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='%23666666'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.block-prev:hover {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%239D5CD0'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%239D5CD0'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.block-next:hover {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%239D5CD0'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='%239D5CD0'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.block-prev:active {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' fill='%237943A4'/%3E%3Cpath d='M15 30C6.71573 30 8.89561e-07 23.2843 1.25168e-06 15C1.61379e-06 6.71573 6.71573 -1.01779e-06 15 -6.55671e-07C23.2843 -2.93554e-07 30 6.71573 30 15C30 23.2843 23.2843 30 15 30Z' stroke='%237943A4'/%3E%3Cpath d='M16 20L11 15L16 10' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.block-next:active {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' fill='%237943A4'/%3E%3Cpath d='M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 -1.01779e-06 15 -6.55671e-07C6.71573 -2.93554e-07 2.93554e-07 6.71573 6.55671e-07 15C1.01779e-06 23.2843 6.71573 30 15 30Z' stroke='%237943A4'/%3E%3Cpath d='M14 20L19 15L14 10' stroke='white'/%3E%3C/svg%3E%0A") center center no-repeat;
}

.block-prev:focus,
.block-next:focus {
  border: 2px solid var(--dark-lilac);
  border-radius: 50px;
}

.block-pagination {
  position: relative;
  width: 80px;
  padding-top: 25px;
  align-items: center;
  text-align: center;
}

.color-btn {
  border-color: var(--lilac);
}

.color-btn:hover,
.color-btn:focus {
  opacity: 60%;
}

.color-btn:focus {
  outline: var(--white) 2px solid;
}

.color-btn:active {
  background-color: var(--ohra);
  outline: none;
}

.btn-border {
  font-size: 18px;
  font-weight: 600;
  border: 2px solid var(--lilac);
  border-radius: 50px;
}

.link:focus {
  outline: 2px solid var(--dark-lilac);
}

.link:hover {
  color: var(--light-lilac);
  outline: none;
}

.link:active {
  color: var(--dark-lilac);
}


.element:focus {
  outline: 2px solid var(--dark-lilac);
}

.element:hover,
.element:hover .btn {
  color: var(--lilac);
}

.element:active,
.element:active .btn {
  color: var(--dark-lilac);
  outline: none;
}

.tab-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.tab-btn:active,
.tab-social:active {
  border: 2px solid var(--lilac);
  filter: none;
}

.tab-social:hover {
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
  border-radius: 29px;
}

@keyframes visible {
  from {height: 100px;}
  to {height: 300px}
}

@keyframes line {
  from {width: 0;}
  to {width: 100%;}
}

@media (max-width: 1024px) {
  .container {
    /* max-width: 955px; */
    padding: 0 50px;
  }   
}

@media (max-width: 768px) {
  h2 {
    font-size: max(6.5vw, 28px);
  }
  /* .container {
    max-width: 700px;
  }     */
}

  @media (max-width: 500px) {
    .container {
      padding: 0 15px;
    }
  
}