:root {
  --white: #ffffff;
  --light-grey: #e5e5e5;
  --grey: #CACACA;
  --dark-grey: #333;
  --black: #000;
  --light-lilac: #C283F3;
  --lilac: #9D5CD0;
  --dark-lilac: #7943A4;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*включаем border и padding в общие размеры элементов*/
  /* scroll-behavior: smooth; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  
  background-color: var(--white);
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grey);
  line-height: 32px;
}

button,
input {
  font-family: OpenSans;
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}*/

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*отключаем маркеры списков*/
}

img {
  max-width: 100%;
  /*изображениям задаем максимальный размер своего родителя*/
  height: auto;
}

.visually-hidden {
  /*прячем заголовок*/
  position: absolute !important;
  /*удаляется из нормального потока, не влияя на расположение сестринских элементов*/
  clip: rect(1px 1px 1px 1px);
  /*Всё, что не помещается в эту область, будет обрезано и становится невидимым*/
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.container {
  max-width: 1633px;
  margin: 0 auto;
  padding: 0 15px;
} 

.logo {
  width: 173px;
  height: 39.9px;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--white);
  font-size: x-small;
}

.swiper-block-btn {
  display: flex;
  height: 61px;
  margin-bottom: 10px;
}

.block-prev,
.block-next {
  position: relative;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: #666;
  transition: background-color .3s linear;
}

.block-prev {
  margin-right: 17px;
}

.block-prev:hover,
.block-next:hover {
  background-color: var(--lilac);
}

.block-prev:active,
.block-next:active {
  background-color: var(--dark-lilac);
}

.block-prev:focus,
.block-next:focus {
  border: 2px solid var(--dark-lilac);
  border-radius: 50px;
}

.block-pagination {
  position: relative;
  width: auto;
  margin-right: 20px;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}

.color-btn {
  border-color: var(--lilac);
}

.color-btn:hover,
.color-btn:focus {
  opacity: 60%;
}

.color-btn:focus {
  outline: var(--white) 2px solid;
}

.color-btn:active {
  background-color: var(--ohra);
  outline: none;
}

.btn-border {
  font-size: 18px;
  font-weight: 600;
  border: 2px solid var(--lilac);
  border-radius: 50px;
  background-color: transparent;
  transition: background-color .3s linear, color .3s linear;
}

.btn-border:hover {
  color: var(--white);
  background-color: var(--lilac);
}

.link {
  transition: color .3s linear;
}

.link:focus {
  outline: 2px solid var(--dark-lilac);
}

.link:hover {
  color: var(--light-lilac);
  outline: none;
}

.link:active {
  color: var(--dark-lilac);
}

.element {
  transition: color .3s linear;
}

.element:focus {
  outline: 2px solid var(--dark-lilac);
}

.element:hover,
.element:hover .btn {
  color: var(--lilac);
}

.element:active,
.element:active .btn {
  color: var(--dark-lilac);
  outline: none;
}

.tab-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.tab-btn,
.tab-social {
  border: 2px solid transparent;
  transition: border-color .3s linear, filter .3s linear;
}

.tab-btn:active,
.tab-social:active {
  border: 2px solid var(--lilac);
  filter: none;
}

.tab-social:hover {
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
  border-radius: 29px;
}

@keyframes visible {
  from {height: 0;}
  to {height: 300px}
}

@keyframes line {
  from {width: 0;}
  to {width: 100%;}
}

@media (max-width: 1024px) {
  .container {
    /* max-width: 955px; */
    padding: 0 50px;
  }   
}

@media (max-width: 768px) {
  h2 {
    font-size: max(6vw, 28px);
  }
  /* .container {
    max-width: 700px;
  }     */
}

@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }
  
}